<script type="text/javascript">
var app = {};
{% if is_admin_user %}
app.admin_user = true;
{% endif %}

app.User = Backbone.Tastypie.Model.extend({
    urlRoot : "/api/v1/user/",
    idAttribute : "id",
    url : function() {
        if(this.get("id") == undefined) {
            return this.urlRoot;
        } else {
            return this.urlRoot + this.get("id") + "/";
        }
    },
});

app.initializeUser = function() {
    var cur_user = app.cur_user;
    if(cur_user == undefined) {
        if(!cur_user_details.id) {
            return;
        }

        cur_user = new app.User({'id' : cur_user_details.id});
        cur_user = cur_user.fetch({
            success : function(model, response) {
                app.cur_user = response;
            },
        });

        if(cur_user_details.id) {
            user_id = cur_user_details.id;
        } else {
            user_id = -1;
        }
        mixpanel.track("UserOnboard: Event", {event_type: "user_onboard_started", user_id: user_id});
    }
};
app.initializeUser();

app.Article = Backbone.Tastypie.Model.extend({
    urlRoot : '/api/v1/article/',
    idAttribute : 'id',

    url : function() {
        if(this.get('id') === undefined) {
            return this.urlRoot;
        } else {
            return this.urlRoot + this.get('id') + "/";
        }
    },

    initialize : function() {
    },
});

app.CreateArticleView = Backbone.View.extend({
    el: '#article-create',
    preview_template: Handlebars.compile($('#article-preview-template').html()),
    events: {
        'click #step-1-next': 'handleClickStep1Next',
        'click #step-2-prev': 'handleClickStep2Prev',
        'click #step-2-next': 'handleClickStep2Next',
        'click #step-3-prev': 'handleClickStep3Prev',
        'click #step-3-finish': 'handleClickStep3Finish',
        'keypress #article-url' : 'handleURLKeypress',
    },
    initialize: function(options) {
        this.article = new app.Article();
        var that = this;
        this.$("#article-desc").on("keyup", _.debounce(
            function () {
                var newValue = that.$("#article-desc").val();
                if(!newValue)
                    newValue = 'Sample description';
                that.$('#article-desc-preview').html(newValue);
            }
        , 300));
        this.$("#article-title").on("keyup", _.debounce(
            function () {
                var newValue = that.$("#article-title").val();
                if(!newValue)
                    newValue = 'Sample title';
                that.$('#article-title-preview').html(newValue);
            }
        , 300));
        this.$("#article-reco").on("keyup", _.debounce(
            function () {
                var newValue = that.$("#article-reco").val();
                if(!newValue)
                    newValue = 'Sample recommendation';
                that.$('#article-reco-preview').html(newValue);
            }
        , 300));

        // Tag selection init
        var tags = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '../../api/v1/tags/search/?q=%QUERY',
                filter: function(list) {
                    return $.map(list.tags, function(tag) {
                        return { name: tag.name, id: tag.id };
                    });
                }
            },
            limit: 10
        });
        tags.initialize();

        $('#article-tags').tagsinput({
            itemText : 'name',
            itemValue : 'id',
            typeaheadjs: {
                hint: false,
                highlight: true,
                minLength: 1,
                name: 'tags',
                displayKey: 'name',
                source: tags.ttAdapter(),
                // templates: {
                //     empty: Handlebars.compile($('#tt-tags-suggestion-empty-template').html()),
                //     footer: Handlebars.compile($('#tt-tags-suggestion-footer-template').html()),
                // }
            }
        });

        $('#article-tags').on('itemAdded', function(event){
            that.refreshTagsPreview();
        });
        $('#article-tags').on('itemRemoved', function(event){
            that.refreshTagsPreview();
        });

        if(app.admin_user) {
            var users = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '../../api/v1/user/search/?q=%QUERY',
                    filter: function(list) {
                        return $.map(list.users, function(user) {
                            return { name: user.first_name + " " + user.last_name, id: user.id };
                        });
                    }
                },
                limit: 10
            });
            users.initialize();

            $('.article-user .typeahead').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            },
            {
                name: 'users',
                displayKey: 'name',
                source: users.ttAdapter(),
                // templates: {
                //     empty: Handlebars.compile($('#tt-users-suggestion-empty-template').html()),
                //     suggestion: Handlebars.compile($('#tt-users-suggestion-template').html())
                // }
            });

            if(cur_user_details) {
                this.user_name = cur_user_details.facebook_name;
                this.user_id = cur_user_details.id;
                this.$('#article-preview-2').html(this.preview_template({
                    'article': this.article.toJSON(),
                    'tags': this.currentTags,
                    'user': this.user_name
                }));
                $('.article-user .typeahead').typeahead('val', this.user_name);
            }
            this.$('.article-user .typeahead').on("typeahead:selected", function(event, selected, dataset){
                that.user_id = selected.id;
                that.user_name = selected.name;
                that.$('#article-preview-2').html(that.preview_template({
                    'article': that.article.toJSON(),
                    'tags': that.currentTags,
                    'user': that.user_name
                }));
            });
            this.user = app.cur_user;
            this.new_user = undefined;
        } else {
            if(cur_user_details) {
                this.user_name = cur_user_details.facebook_name;
                this.user_id = cur_user_details.id;
                this.$('#article-preview-2').html(this.preview_template({
                    'article': this.article.toJSON(),
                    'tags': this.currentTags,
                    'user': this.user_name
                }));
            }
        }

        this.showPage(1);
    },
    showPage: function(page) {
        if(page === 1) {
            this.$('#step-2').hide();
            this.$('#step-3').hide();
            this.showStep2Error("");
            this.showStep3Error("");

            this.$('#step-1').show();
        } else if(page === 2) {
            this.$('#step-3').hide();
            this.$('#step-1').hide();
            this.showStep1Error("");
            this.showStep3Error("");
            this.$('#step-1-next').button('reset');

            this.$('#step-2').show();
        } else if(page === 3) {
            this.$('#step-1').hide();
            this.$('#step-2').hide();
            this.showStep1Error("");
            this.showStep2Error("");

            this.$('#step-3').show();
        }
        $("html, body").animate({
            scrollTop: 0
        }, 500);
    },
    handleURLKeypress: function(e) {
        if(e.which === 13){
            this.handleClickStep1Next();
        }
    },
    handleClickStep1Next: function() {

        if(cur_user_details.id === undefined) {
            $('#login_modal').modal('show');
            return false;
        }

        if(!this.isArticleURLValid()) {
            this.showArticleURLError("Invalid URL");
        }
    },
    handleClickStep2Next: function() {
        var title = this.$('#article-title').val();
        var desc = this.$('#article-desc').val();
        var reco = this.$('#article-reco').val();

        if(!title || !reco) {
            this.showStep2Error("Title and recommendation is required");
            return;
        }

        this.article.set({
            'title': title,
            'description': desc,
            'recommendation': reco
        });

        this.$('#article-preview-2').html(this.preview_template({
            'article': this.article.toJSON(),
            'tags': this.currentTags,
            'user': this.user_name
        }));

        this.showPage(3);
    },
    handleClickStep2Prev: function() {
        this.article = new app.Article();
        this.showPage(1);
    },
    handleClickStep3Prev: function() {
        this.showPage(2);
    },
    isArticleURLValid: function() {
        var articleURL = this.$('#article-url').val();
        if(articleURL) {
            this.$('#step-1-next').button('loading');
            this.fetchOpenGraph(articleURL, this.populateOpenGraph);
            return true;
        }
        return false;
    },
    fetchOpenGraph: function(url, cb) {

        var cleanedURL = url;
        if (!/^https?:\/\//i.test(url)) {
            cleanedURL = 'http://' + url;
        }

        var ogAPIURL = "/api/v1/article/open_graph/?url=" + cleanedURL;
        $.ajax({
            url: ogAPIURL,
            context : this
        }).done(cb);
    },
    populateOpenGraph: function(data) {

        this.openGraphData = data.open_graph;

        this.article.set({
            'title': this.openGraphData.title,
            'description': this.openGraphData.description,
            'image_url': this.openGraphData.image_url,
            'url': this.openGraphData.url
        });
        this.$('#article-preview').html(this.preview_template({
            'article': this.article.toJSON(),
            'tags': this.currentTags,
            'user': this.user_name
        }));
        this.initArticleForm();
        this.showPage(2);
    },
    initArticleForm: function() {
        this.$('#article-title').val(this.article.get('title'));
        this.$('#article-desc').val(this.article.get('description'));
    },
    refreshTagsPreview: function() {

        this.currentTags = this.$('#article-tags').tagsinput('items');

        this.$('#article-preview-2').html(this.preview_template({
            'article': this.article.toJSON(),
            'tags': this.currentTags,
            'user': this.user_name
        }));
    },
    showStep1Error: function(msg) {
        this.$('#step-1-msg').html(msg);
    },
    showStep2Error: function(msg) {
        this.$('#step-2-msg').html(msg);
    },
    showStep3Error: function(msg) {
        this.$('#step-3-msg').html(msg);
    },
    handleClickStep3Finish: function() {
        this.$("#article-create-form input[name=title]")
            .val(this.article.get('title'));
        this.$("#article-create-form input[name=desc]")
            .val(this.article.get('description'));
        this.$("#article-create-form input[name=reco]")
            .val(this.article.get('recommendation'));
        this.$("#article-create-form input[name=image_url]")
            .val(this.article.get('image_url'));
        this.$("#article-create-form input[name=url]")
            .val(this.article.get('url'));
        this.$("#article-create-form input[name=tags]")
            .val(_.pluck(this.currentTags, 'id').join(","));
        this.$("#article-create-form input[name=user]")
            .val(this.user_id);
        this.$("#article-create-form").submit();
    }
});

app.createArticleView = new app.CreateArticleView();
</script>