<script>

var app = {};
app.maker_id = {{maker.id}};

app.row_count = 3;

app.User = Backbone.Tastypie.Model.extend({
    urlRoot : "/api/v1/user/",
    idAttribute : "id",
    url : function() {
        if(this.get('resource_uri' != undefined)) {
            return this.get('resource_uri');
        }

        if(this.get("id") != undefined) {
            return this.urlRoot + this.get("id") + "/";
        }

        return this.urlRoot;
    },

    initialize : function() {
        var options = {'userId' : this.get('id')};

        this.following = new app.FollowingList(options);
        this.followers = new app.FollowersList(options);

        this.on('change', this.loadProfile);
    },

    loadProfile : function() {
        this.profile = new app.UserProfile({'id' : this.get('profile_id')});
    },
});

app.UserProfile = Backbone.Tastypie.Model.extend({
    urlRoot : '/api/v1/profile/',
    idAttribute : 'id',

    url : function() {
        if(this.get('resource_uri') != undefined) {
            return this.get('resource_uri');
        }

        if(this.get('id') != undefined) {
            return this.urlRoot + this.get('id') + "/";
        }

        return this.urlRoot;
    },

    initialize : function() {
        if(this.get('id') != undefined) {
            this.fetch();
        }
    },
});

app.FollowersList = Backbone.Tastypie.Collection.extend({
    model : app.UserProfile,
    urlRoot : '/api/v1/user/',

    url : function() {
        return this.urlRoot + this.userId + "/followers/";
    },

    initialize : function(options) {
        this.userId = options.userId;
        this.fetch();
    },
});

app.FollowingList = Backbone.Tastypie.Collection.extend({
    model : app.UserProfile,
    urlRoot : '/api/v1/user/',

    url : function() {
        return this.urlRoot + this.userId + "/following/";
    },

    initialize : function(options) {
        this.userId = options.userId;
        this.fetch();
    },
});

app.initializeUser = function() {
    var cur_fb_user = app.cur_fb_user;
    if(cur_fb_user == undefined) {
        if(!cur_user_details.id) {
            return;
        }

        app.cur_fb_user = new app.User({'id' : cur_user_details.id});
        app.cur_fb_user.fetch();
    }
};

app.initializeMaker = function() {
    app.cur_maker = new app.User({'id' : app.maker_id});
    app.cur_maker.fetch();
};

app.Makey = Backbone.Tastypie.Model.extend({
    urlRoot : "/api/v1/makey_m/",
    idAttribute : "id",

    url : function() {
       if(this.get('id') == undefined) {
            return this.urlRoot;
        } else {
            return this.urlRoot + this.get('id') + "/";
        }
    },
});

app.MakeyList = Backbone.Tastypie.Collection.extend({
    model : app.Makey,
    urlRoot : "/api/v1/makey_m/",

    url : function() {
        return this.urlRoot + "?collaborators__in=" + app.maker_id;
    },
});

app.MakeyView = Backbone.View.extend({
    el : "#my_makeys",
    template : Handlebars.compile($("#makey_template").html()),
    new_row : Handlebars.compile($("#new_row").html()),

    options : {
        cur_item_count : 0,
    },

    initialize : function() {
        this.listenTo(app.makeys, 'add', this.addAll);
    },

    addAll : function() {
        this.$el.html('');
        $('.no_makeys').html(app.makeys.length);
        this.options.cur_item_count = 0;
        app.makeys.each(this.render, this);

        $('.no_makeys').html(app.makeys.length);
    },

    render : function(model) {
        if(this.options.cur_item_count%app.row_count == 0) {
            this.$el.append(this.new_row);
        }

        var json = model.toJSON();
        if(json.user == null) {
            json.has_user = false;
        } else {
            json.has_user = true;
        }

        this.$el.find('.new_row').last().append(this.template(json));
        this.options.cur_item_count++;
        return this;
    },
});

app.FollowingView = Backbone.View.extend({
    el : '#tab_following',
    maker_template : Handlebars.compile($('#maker_template').html()),
    new_row : Handlebars.compile($("#new_row").html()),

    events : {
        'click .follow_user' : 'followUser',
        'click .unfollow_user' : 'unfollowUser',
    },

    options : {
        cur_item_count : 0,
    },

    initialize : function() {
        this.listenTo(app.cur_maker.following, 'add', this.addAll);
        this.listenTo(app.cur_maker.following, 'change', this.addAll);
        this.listenTo(app.cur_maker.following, 'reset', this.addAll);
        this.listenTo(app.cur_maker.following, 'remove', this.addAll);

        if (app.cur_fb_user)
        {
            this.listenTo(app.cur_fb_user.following, 'add', this.addAll);
            this.listenTo(app.cur_fb_user.following, 'change', this.addAll);
            this.listenTo(app.cur_fb_user.following, 'remove', this.addAll);
        }
    },

    addAll : function() {
        this.$('#following_list').html('');
        this.options.cur_item_count = 0;
        if (app.cur_maker.following.length!=0)
        {
            app.cur_maker.following.each(this.add, this);
            $('.no_following').html(app.cur_maker.following.length);
        }

    },

    add : function(model) {
        if(model.get('user') == undefined) {
            return;
        }
        if(this.options.cur_item_count%app.row_count == 0) {
            this.$('#following_list').append(this.new_row);
        }
        var json = model.toJSON();

        json.cur_user_follows = false;
        json.is_cur_user = false;

        if (app.cur_fb_user)
        {
            if(app.cur_fb_user.following.get(model.get('id')) == undefined) {
                json.cur_user_follows = false;
            } else {
                json.cur_user_follows = true;
            }

            if(model.get('user').id == app.cur_fb_user.get('id')) {
                json.is_cur_user = true;
            }
        }
        this.$('#following_list').find('.new_row').last().append(this.maker_template(json));
        this.options.cur_item_count++;
    },

    followUser : function(event) {
        var profileId = parseInt(event.target.id.substring(7));
        var userProfile = app.cur_maker.following.get(profileId);

        app.cur_fb_user.profile.get('following').push(userProfile.get('resource_uri'));
        app.cur_fb_user.profile.save(null, {
            success : function(model, response) {
                app.cur_fb_user.following.push(userProfile);

                //TODO: #makerMail send mail to user that cur_fb_user followed him
                FB.api(
                    'me/makey_street:custom_follow',
                    'post',
                    {
                        maker: 'http://www.makeystreet.com/maker/' + userProfile.get('user').username + '/',
                    },
                    function(response){
                        console.log(response)
                    }
                );
            },
        });
    },

    unfollowUser : function(event) {
        var profileId = parseInt(event.target.id.substring(9));
        var userProfile = app.cur_maker.following.get(profileId);

        var index = app.cur_fb_user.profile.get('following').indexOf(userProfile.get('resource_uri'));
        app.cur_fb_user.profile.get('following').splice(index, 1);
        app.cur_fb_user.profile.save(null, {
            success : function(model, response) {
                app.cur_fb_user.following.remove(app.cur_fb_user.following.get(userProfile.get('id')))
            },
        });

        if(app.cur_fb_user.get('id') == app.cur_maker.get('id')) {
            app.cur_maker.following.remove(userProfile);
        }
    },
});

app.FollowersView = Backbone.View.extend({
    el : '#tab_followers',
    maker_template : Handlebars.compile($('#maker_template').html()),
    new_row : Handlebars.compile($("#new_row").html()),

    events : {
        'click .follow_user' : 'followUser',
        'click .unfollow_user' : 'unfollowUser',
    },

    options : {
        cur_item_count : 0,
    },

    initialize : function() {
        this.listenTo(app.cur_maker.followers, 'add', this.addAll);
        this.listenTo(app.cur_maker.followers, 'change', this.addAll);
        this.listenTo(app.cur_maker.followers, 'reset', this.addAll);
        this.listenTo(app.cur_maker.followers, 'remove', this.addAll);
        if (app.cur_fb_user)
        {
            this.listenTo(app.cur_fb_user.following, 'add', this.addAll);
            this.listenTo(app.cur_fb_user.following, 'change', this.addAll);
            this.listenTo(app.cur_fb_user.following, 'remove', this.addAll);
        }
    },

    addAll : function() {
        this.$('#followers_list').html('');
        app.cur_maker.followers.each(this.add, this);
        this.options.cur_item_count = 0;

        $('.no_followers').html(app.cur_maker.followers.length);
    },

    add : function(model) {
        if(model.get('user') == undefined) {
            return;
        }
        if(this.options.cur_item_count%app.row_count == 0) {
            this.$('#followers_list').append(this.new_row);
        }

        var json = model.toJSON();
        json.cur_user_follows = false;
        json.is_cur_user = false;

        if(app.cur_fb_user)
        {
            if(app.cur_fb_user.following.get(model.get('id')) == undefined) {
                json.cur_user_follows = false;
            } else {
                json.cur_user_follows = true;
            }

            if(model.get('user').id == app.cur_fb_user.get('id')) {
                json.is_cur_user = true;
            }
        }

        // this.$('#followers_list').append(this.maker_template(json));
        this.$('#followers_list').find('.new_row').last().append(this.maker_template(json));
        this.options.cur_item_count++;
        // console.log(this.options.cur_item_count);

    },

    followUser : function(event) {
        var profileId = parseInt(event.target.id.substring(7));
        var userProfile = app.cur_maker.followers.get(profileId);

        app.cur_fb_user.profile.get('following').push(userProfile.get('resource_uri'));
        app.cur_fb_user.profile.save(null, {
            success : function(model, response) {
                app.cur_fb_user.following.push(userProfile);

                //TODO: #makerMail send mail to user that cur_fb_user followed him
                FB.api(
                    'me/makey_street:custom_follow',
                    'post',
                    {
                        maker: 'http://www.makeystreet.com/maker/' + userProfile.get('user').username + '/',
                    },
                    function(response){
                        console.log(response)
                    }
                );
            },
        });

        if(app.cur_fb_user.get('id') == app.cur_maker.get('id')) {
            app.cur_maker.following.add({'id' : userProfile.get('id')});
        }
    },

    unfollowUser : function(event) {
        var profileId = parseInt(event.target.id.substring(9));
        var userProfile = app.cur_maker.following.get(profileId);

        var index = app.cur_fb_user.profile.get('following').indexOf(userProfile.get('resource_uri'));
        app.cur_fb_user.profile.get('following').splice(index, 1);
        app.cur_fb_user.profile.save(null, {
            success : function(model, response) {
                app.cur_fb_user.following.remove(app.cur_fb_user.following.get(userProfile.get('id')))
            },
        });

        if(app.cur_fb_user.get('id') == app.cur_maker.get('id')) {
            app.cur_maker.following.remove(userProfile);
        }
    },
});

app.MakerView = Backbone.View.extend({
    el : '#cur_maker_follow',
    template : Handlebars.compile($('#user_follow_template').html()),

    events : {
        'click .follow_user' : 'followUser',
        'click .unfollow_user' : 'unfollowUser',
    },

    initialize : function() {
        if (app.cur_fb_user)
        {
            this.listenTo(app.cur_fb_user.following, 'add', this.addAll);
            this.listenTo(app.cur_fb_user.following, 'change', this.addAll);
            this.listenTo(app.cur_fb_user.following, 'reset', this.addAll);
            this.listenTo(app.cur_fb_user.following, 'remove', this.addAll);
        }

        this.listenTo(app.cur_maker, 'change', this.addAll);

        this.addAll();
    },

    addAll : function() {
        var json = {};
        json.cur_user_follows = false;
        json.is_cur_user = false;

        if (app.cur_fb_user)
        {
            if(app.cur_maker.get('id') == app.cur_fb_user.get('id')) {
                json.is_cur_user = true;
            } else if(app.cur_fb_user.following.get(app.cur_maker.get('profile_id')) == undefined) {
                json.cur_user_follows = false
                json.id = app.cur_maker.get('profile_id');
            } else {
                json.cur_user_follows = true;
                json.id = app.cur_maker.get('profile_id');
            }
        }

        this.$el.html(this.template(json));
    },

    followUser : function(event) {
        var profileId = parseInt(event.target.id.substring(7));
        var userProfile = app.cur_maker.profile;

        app.cur_fb_user.profile.get('following').push(userProfile.get('resource_uri'));
        var that = this;
        app.cur_fb_user.profile.save(null, {
            success : function(model, response) {
                app.cur_fb_user.following.push(userProfile);
                app.cur_maker.followers.push(app.cur_fb_user.profile);
                that.addAll();

                //TODO: #makerMail send mail to cur_maker that cur_fb_user followed him
                FB.api(
                    'me/makey_street:custom_follow',
                    'post',
                    {
                        maker: 'http://www.makeystreet.com/maker/' + userProfile.get('user').username + '/',
                    },
                    function(response){
                        console.log(response)
                    }
                );
            },
        });

        if(app.cur_fb_user.get('id') == app.cur_maker.get('id')) {
            app.cur_maker.following.add({'id' : userProfile.get('id')});
        }
    },

    unfollowUser : function(event) {
        var profileId = parseInt(event.target.id.substring(9));
        var userProfile = app.cur_maker.profile;

        var index = app.cur_fb_user.profile.get('following').indexOf(userProfile.get('resource_uri'));
        app.cur_fb_user.profile.get('following').splice(index, 1);
        var that = this;
        app.cur_fb_user.profile.save(null, {
            success : function(model, response) {
                app.cur_fb_user.following.remove(app.cur_fb_user.following.get(userProfile.get('id')));
                app.cur_maker.followers.remove(app.cur_fb_user.profile);
                that.addAll();
            },
        });

        if(app.cur_fb_user.get('id') == app.cur_maker.get('id')) {
            app.cur_maker.following.remove(userProfile);
        }
    },
});

/* INITIALIZE */
app.initializeUser();
app.initializeMaker();

app.makeys = new app.MakeyList();
app.makeys.fetch();

// app.makeyView = new app.MakeyView();
app.followingView = new app.FollowingView();
app.followersView = new app.FollowersView();
app.makerView = new app.MakerView();
</script>