<script>
$('.part-pop-trigger').popover({
    animation: true,
    container: 'body',
    content: function() {
        var makey_count = $(this).data('part-makey-count') || 0;
        var part_name = $(this).data('part-name');
        var template = Handlebars.compile($('#part_pop_template').html());
        return template({
            name: part_name,
            makey_count: makey_count
        });
    },
    html: true,
    placement: "auto top",
    trigger: 'hover'
});

$(function(){
    App.datatables();

    $('#inventory-table').dataTable({
        "aaSorting": [[0,'asc']],
        "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "bPaginate" : true,
        "bLengthChange": true
    });

    $('.dataTables_filter input').attr('placeholder', 'Search');
});

// Admin editable stuff after this
{% if is_space_admin %}

var app = {};
app.space_id = {{space.id}};

app.Space = Backbone.Tastypie.Model.extend({
    urlRoot : "/api/v1/space/",
    idAttribute : "id",

    url : function() {
       if(this.get('id') == undefined) {
            return this.urlRoot;
        } else {
            return this.urlRoot + this.get('id') + "/";
        }
    },
});

app.OldInventory = Backbone.Tastypie.Model.extend({
    urlRoot : '/api/v1/inventory/',
    idAttribute : 'id',

    url : function() {
        if(this.get('resource_uri') != undefined) {
            return this.get('resource_uri');
        } else if(this.get('id') != undefined) {
            return this.urlRoot + this.get('id') + "/";
        } else {
            return this.urlRoot;
        }
    },
});

app.NewInventory = Backbone.Tastypie.Model.extend({
    urlRoot : '/api/v1/new_inventory/',
    idAttribute : 'id',

    url : function() {
        if(this.get('resource_uri') != undefined) {
            return this.get('resource_uri');
        } else if(this.get('id') != undefined) {
            return this.urlRoot + this.get('id') + "/";
        } else {
            return this.urlRoot;
        }
    },
});

app.OldInventoryList = Backbone.Tastypie.Collection.extend({
    model : app.OldInventory,
    urlRoot : '/api/v1/inventory/?limit=0&space='+app.space_id,

    url : function() {
        return this.urlRoot;
    },
});

app.NewPart = Backbone.Tastypie.Model.extend({
    urlRoot : '/api/v1/new_part/',
    idAttribute : 'id',

    defaults : {
        'added_time' : 'Now',
    },

    url : function() {
        if(this.get('resource_uri') != undefined) {
            return this.get('resource_uri');
        } else if(this.get('id') != undefined) {
            return this.urlRoot + this.get('id') + "/";
        } else {
            return this.urlRoot;
        }
    },
});

app.NewInventoryList = Backbone.Tastypie.Collection.extend({
    model : app.NewInventory,
    urlRoot : '/api/v1/new_inventory/?limit=0&space='+app.space_id,

    url : function() {
        return this.urlRoot;
    },
});

app.InventoryView = Backbone.View.extend({
    el: $('#inventory-wrapper'),
    $table : this.$("#inventory-table"),
    editable_header_template: Handlebars.compile(this.$('#editable-header').html()),
    row_actions_template: Handlebars.compile(this.$('#row-actions-template').html()),
    row_actions_delete_confirm_template: Handlebars.compile(this.$('#row-actions-delete-confirm-template').html()),
    initialize: function(){

        this.oldInventoryList = new app.OldInventoryList();
        this.newInventoryList = new app.NewInventoryList();

        this.listenTo(this.oldInventoryList, 'reset', this.addOldInventory);
        this.listenTo(this.newInventoryList, 'reset', this.addNewInventory);

        this.nukeStaticTable();
        this.initEditable();

        this.oldInventoryList.fetch({reset: true});
        this.newInventoryList.fetch({reset: true});

        var products = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/v1/product/search?q=%QUERY',
                    filter: function(list) {
                        return $.map(list.products, function(product) {
                            return { name: product.name, id: product.id };
                        });
                    }
            },
            limit: 10
        });
        products.initialize();

        this.$('#add-inventory .typeahead').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        },{
            name: 'products',
            displayKey: 'name',
            source: products.ttAdapter(),
            templates: {
                empty: Handlebars.compile($('#tt-part-suggestion-empty-template').html()),
                footer: Handlebars.compile($('#tt-part-suggestion-footer-template').html())
            }
        });

        var that = this;
        this.$('#add-inventory .typeahead').on("typeahead:selected", function(event, selected, dataset){
            that.currentInventory = selected.id;
        });
    },

    getDataTable: function() {
        return this.$table.dataTable();
    },

    clearTable: function() {
        this.getDataTable().fnClearTable();
    },

    nukeStaticTable: function() {
        // nuke the static table and create editable table
        this.clearTable();
        this.getDataTable().fnDestroy();
        this.$table.empty();
    },

    initEditable: function() {
        this.$table.html(this.editable_header_template());
        this.$table.dataTable({
            "aaSorting": [[0,'asc']],
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "bPaginate" : true,
            "bLengthChange": true,
            "aoColumnDefs": [
                { "bVisible": false, "aTargets": [ -1 ] },
                { "sWidth": "60%", "aTargets": [ 0 ] },
                { "sWidth": "20%", "aTargets": [ 1 ] },
                { "sWidth": "20%", "aTargets": [ 2 ] },
            ]
        });

        this.$('.dataTables_filter input').attr('placeholder', 'Search');

        // delegating row events
        var that = this;
        this.$table.delegate( ".row-edit", "click", function() {
            that.rowEdit(this);
        });
        this.$table.delegate( ".row-delete", "click", function() {
            that.showDeleteConfirmation(this);
        });
        this.$table.delegate( ".row-delete-confirm-yes", "click", function() {
            that.confirmRowDelete(this);
        });
        this.$table.delegate( ".row-delete-confirm-no", "click", function() {
            that.cancelRowDelete(this);
        });
        this.$el.delegate( "#add-inventory #btn-add-inventory", "click", function() {
            that.createOldInventory();
        });
        this.$el.delegate( "#add-inventory #btn_add_new_part", "click", function() {
            that.showNewPartInventory();
        });

        this.$el.delegate( "#add-inventory #btn_cancel_new_parts", "click", function() {
            that.hideNewPartInventory();
        });

        this.$el.delegate( "#add-inventory #btn_submit_new_parts", "click", function() {
            that.createNewInventory();
        });

    },

    showInventoryAddMsg: function(msg) {
        this.$("#inv-add-msg").html(msg);
    },

    showNewInventoryAddMsg: function(msg) {
        this.$("#new-inv-add-msg").html(msg);
    },

    resetTypeAhead: function() {
        this.$('#add-inventory .typeahead').typeahead('val', '');
        this.currentInventory = undefined;
        this.$('#btn-add-inventory').button('reset');
    },

    createOldInventory: function() {

        this.showInventoryAddMsg("");

        var partResourceURI = "/api/v1/product/" + this.currentInventory + "/";
        var quantity = this.$("#input_part_quantity").val();
        var spaceResourceURI = "/api/v1/space/" + app.space_id + "/";
        var addedTime = "Now";

        if(this.currentInventory === undefined) {
            this.showInventoryAddMsg("Select a part");
            return;
        }

        this.$('#btn-add-inventory').button('loading');

        var inventory = new app.OldInventory({
            added_time: addedTime,
            part: partResourceURI,
            space: spaceResourceURI,
            quantity: quantity
        });

        var that = this;
        inventory.save(null, {
            success: function(model, response, options){
                that.$('#btn-add-inventory').button('reset');
                that.showInventoryAddMsg("Added");
                // that.addInventoryRow(model, "old");
                that.refreshTable();
            },
            error: function(model, response, options) {
                that.showInventoryAddMsg("Something went wrong. Please make sure you are not adding the same part again.");
            }
        });

        this.resetTypeAhead();
    },

    addInventoryRow: function(model, inventoryType) {
        if (inventoryType === "old") {
            this.getDataTable().fnAddData([
                model.get('part').name,
                model.get('quantity'),
                this.row_actions_template(),
                "old_" + model.get('id')
            ]);
        } else if (inventoryType === "new") {
            this.getDataTable().fnAddData([
                model.get('part').name,
                model.get('quantity'),
                this.row_actions_template(),
                "new_" + model.get('id')
            ]);
        }
    },

    addOldInventory: function() {
        for(var i=0; i<this.oldInventoryList.models.length; ++i) {
            this.addInventoryRow(this.oldInventoryList.models[i], "old");
        }
    },

    addNewInventory: function() {
        for(var i=0; i<this.newInventoryList.models.length; ++i) {
            this.addInventoryRow(this.newInventoryList.models[i], "new");
        }
    },

    rowEdit: function(el) {
        var $target = $(el);
        var $parent_row = $target.parents('tr');
        var table_position = this.getDataTable().fnGetPosition($parent_row.get(0));
        console.log(table_position);
    },

    showDeleteConfirmation: function(el) {
        var $table_col = $(el).parents("td");
        $table_col.html(this.row_actions_delete_confirm_template());
    },

    confirmRowDelete: function(el) {
        var $target = $(el);
        var $parent_row = $target.parents('tr');
        var row_position = this.getDataTable().fnGetPosition($parent_row.get(0));
        var row_data = this.getDataTable().fnGetData(row_position);
        var inventoryType = row_data[3].slice(0,3);
        var inventoryId = row_data[3].slice(4);
        this.deleteInventory(inventoryId, inventoryType, row_position);
        // this.getDataTable().fnDeleteRow(row_position);
    },

    deleteInventory: function(inventoryId, inventoryType, row_position) {

        var inventory;

        if(inventoryType === "old")
            inventory = this.oldInventoryList.get(inventoryId);
        else if(inventoryType === "new")
            inventory = this.newInventoryList.get(inventoryId);

        var that = this;
        inventory.destroy({
            success: function() {
                that.getDataTable().fnDeleteRow(row_position);
            }
        });
    },

    cancelRowDelete: function(el) {
        var $table_col = $(el).parents("td");
        $table_col.html(this.row_actions_template());
    },

    refreshTable: function(e) {
        this.clearTable();
        this.oldInventoryList.fetch({reset: true});
        this.newInventoryList.fetch({reset: true});
    },

    showNewPartInventory: function() {
        this.$("#new_part_form").slideDown();
        this.$('#new_part_name_v2').val('');
        this.$('#new_part_url_v2').val('');
        this.$("#val_part_name_v2").focus();
        this.showInventoryAddMsg("");
        this.resetTypeAhead();
    },

    hideNewPartInventory: function() {
        this.$("#new_part_form").slideUp();
        this.$("#input_part_name").focus();
    },

    createNewInventory: function() {

        this.showInventoryAddMsg("");
        this.createNewPart();
    },

    createNewInventoryStep2: function() {

        if(this.currentNewPart === undefined) {
            this.showNewInventoryAddMsg("Something went wrong");
            return;
        }

        var partResourceURI = "/api/v1/new_part/" + this.currentNewPart + "/";
        var quantity = this.$("#val_part_quant_v2").val();
        var spaceResourceURI = "/api/v1/space/" + app.space_id + "/";
        var addedTime = "Now";

        this.$('#btn_submit_new_parts').button('loading');

        var inventory = new app.NewInventory({
            added_time: addedTime,
            part: partResourceURI,
            space: spaceResourceURI,
            quantity: quantity
        });

        var that = this;
        inventory.save(null, {
            success: function(model, response, options){
                that.$('#btn_submit_new_parts').button('reset');
                that.showInventoryAddMsg("Added");
                that.refreshTable();
                that.hideNewPartInventory();
            },
            error: function(model, response, options) {
                that.showNewInventoryAddMsg("Something went wrong. Please try again.");
            }
        });
    },

    createNewPart: function(){
        var new_part_name = this.$('#val_part_name_v2').val();
        var new_part_url = this.$('#val_part_url_v2').val();

        if (!new_part_name || !new_part_url) {
            this.showNewInventoryAddMsg("Invalid data. Please check and try again.");
            return;
        }

        var part = new app.NewPart({
            'name' : new_part_name,
            'url' : new_part_url,
        });

        var that = this;
        part.save(null, {
            success : function(model, response) {
                that.currentNewPart = model.get('id');
                that.createNewInventoryStep2();
            },

            error : function(model, response) {
                that.showNewInventoryAddMsg("Something went wrong. Please try again.");
                that.currentNewPart = undefined;
            },
        });
    }
});

app.space = new app.Space({'id' : app.space_id});
app.space.fetch();

$(function(){
    app.inventoryView = new app.InventoryView();
});
// app.inventoryView = new app.InventoryView();


{% endif %}

</script>