container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  02_compress:
    command: "python manage.py compress"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "woot.settings.prod"
    LC_CTYPE: "en_US"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "wsgi.py"

