<!-- this does not require the user to be logged in to search -->
<div class="row">
    <div class="input-append col-lg-offset-1 col-sm-10 col-md-10">
        <form action="" method="get">
            <div class ="input-group">
            <input class="span9 form-control" id="appendedInputButton" type="text" name="q" placeholder="{{query}}" value="{{query}}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="submit();"><span class="glyphicon glyphicon-search"></span> Go!</button>
                </span>
            </div>
        </form>
        <br>
    </div>
</div>
