<script type="text/javascript">
  var _cio = _cio || [];
  (function() {
    var a,b,c;a=function(f){return function(){_cio.push([f].
    concat(Array.prototype.slice.call(arguments,0)))}};b=["load","identify",
    "sidentify","track","page"];for(c=0;c<b.length;c++){_cio[b[c]]=a(b[c])};
    var t = document.createElement('script'),
        s = document.getElementsByTagName('script')[0];
    t.async = true;
    t.id    = 'cio-tracker';
    t.setAttribute('data-site-id', '607fab76ecf1f32f1785');
    t.src = 'https://assets.customer.io/assets/track.js';
    s.parentNode.insertBefore(t, s);
  })();
</script>

<script type="text/javascript">
  _cio.identify({
    // Required attributes
    id: 'alex',           // Unique id for the currently signed in user in your application.
    email: 'alex@makeystreet.com', // Email of the currently signed in user.
    created_at: 1339438758,   // Timestamp in your system that represents when
                              // the user first signed up. You'll want to send it
                              // as seconds since the epoch.

    // Optional (these are examples. You can name attributes what you wish)

    // first_name: 'John',       // Add any attributes you'd like to use in the email subject or body.
    // plan_name: 'premium'      // To use the example segments, set this to 'free' or 'premium'.
  });
</script>