{% verbatim %}
<script type="text/template" id="part_select_template">
    <option value="part_{{part_id}}">{{part_name}}</option>
</script>

<script type="text/template" id="shop_select_template">
    <option value="part_{{shop_id}}">{{shop_name}}</option>
</script>

<script type="text/template" id="space_select_template">
    <option value="part_{{space_id}}">{{space_name}}</option>
</script>

<script type="text/template" id="tt-suggestion-empty-template">
    <div class="tt-suggestion-empty">
        <span>No results</span>
    </div>
</script>

<script type="text/template" id="tt-suggestion-footer-template">
    <div class="tt-suggestion-empty">
    </div>
</script>

{% endverbatim %}