{% verbatim %}
<script type="text/template" id="space_select_card_template">
    <div class="space-card-container col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="space-card text-center" data-space-id="{{id}}">
            <span class="space-name">{{name}}</span>
        </div>
    </div>
</script>

<script type="text/template" id="tag_select_card_template">
    <div class="tag-card-container col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="tag-card text-center" data-tag-id="{{id}}">
            <span class="tag-name">{{name}}</span>
        </div>
    </div>
</script>

<script type="text/template" id="user_select_card_template">
    <div class="user-card-container col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="user-card text-center" data-user-id="{{id}}">
            <span class="user-name">{{name}}</span>
        </div>
    </div>
</script>
{% endverbatim %}