{% extends "catalog/base.html" %}

{% load static from staticfiles %}

{% block title %}MakeyStreet | Makey{% endblock %}

{% block extra_js %}
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script type="text/javascript">
    var cur_user_details = {{user_details|safe}};
    $(document).ready(function(){
        $("#sticker_leftcolumn").sticky({topSpacing:0});
    });
</script>
{% endblock %}

{% block content_full %}
<div class="row">
    <div class="col-sm-9 col-md-9">
        <div class="block">
            <div class="block-title">
                <ul class="nav nav-tabs" data-toggle="tabs">
                    <li class="active"><a href="#product-reviews">Product Reviews</a></li>
                    <li class=""><a href="#store-reviews">Store Reviews</a></li>
                    <li class=""><a href="#space-reviews">Space Reviews</a></li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="product-reviews">
                    <div id="product_reviews">
                    {% if product_reviews.count > 0 %}
                        {% for review in product_reviews %}
                        <div id="product_review_{{review.id}}" class="row">
                            <div class ="col-xs-12">
                                <p class=""><b>{{review.title}}</b></p>

                                <p class="show_product_review_id" style="display:none;">{{review.id}}</p>

                                <p>{{review.review|truncatewords:20}} <a href="{% url 'catalog:product_review' review.id %}">more</a></p>

                                <p class="pull-right">
                                    By <a href="/maker/{{review.user.username}}">{{review.user.first_name}}</a> on <a href="/product/{{review.product.id}}">{{review.product.name}}</a>
                                </p>

                                <div class="pull-left">
                                {% if review.rating > 0 %}
                                <span>
                                    {% if review.rating == 5 %}
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> (5/5)
                                    {% endif %}
                                    {% if review.rating == 4 %}
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> (4/5)
                                    {% endif %}
                                    {% if review.rating == 3 %}
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> (3/5)
                                    {% endif %}
                                    {% if review.rating == 2 %}
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> (2/5)
                                    {% endif %}
                                    {% if review.rating == 1 %}
                                        <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> (1/5)
                                    {% endif %}
                                    {% if review.rating == 0 %}
                                        <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> (0/5)
                                    {% endif %}
                                </span>
                                {% else %}
                                    No Rating
                                {% endif %}
                                </div>

                                <br/><hr>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="row">
                            <div class="col-xs-12">
                                <p>No Product reviews by the current user.</p>
                            </div>
                            <!-- <center><i class="fa fa-refresh fa-2x fa-spin"></i></center> -->
                        </div>
                    {% endif %}
                    </div>
                </div>

                <div class="tab-pane" id="store-reviews">
                    <div id="store_reviews">
                    {% if shop_reviews.count > 0 %}
                        {% for review in shop_reviews %}
                        <div id="store_review_{{review.id}}" class="row">
                            <div class ="col-xs-12">
                                <p class=""><b>{{review.title}}</b></p>

                                <p class="show_store_review_id" style="display:none;">{{review.id}}</p>

                                <p>{{review.review|truncatewords:20}} <a href="{% url 'catalog:store_review' review.id %}">more</a></p>

                                <p class="pull-right">
                                    By <a href="/maker/{{review.user.username}}">{{review.user.first_name}}</a> on <a href="/store/{{review.shop.id}}">{{review.shop.name}}</a>
                                </p>

                                <div class="pull-left">
                                {% if review.rating > 0 %}
                                <span>
                                    {% if review.rating == 5 %}
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> (5/5)
                                    {% endif %}
                                    {% if review.rating == 4 %}
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> (4/5)
                                    {% endif %}
                                    {% if review.rating == 3 %}
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> (3/5)
                                    {% endif %}
                                    {% if review.rating == 2 %}
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> (2/5)
                                    {% endif %}
                                    {% if review.rating == 1 %}
                                        <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> (1/5)
                                    {% endif %}
                                    {% if review.rating == 0 %}
                                        <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> (0/5)
                                    {% endif %}
                                </span>
                                {% else %}
                                    No Rating
                                {% endif %}
                                </div>

                                <br/><hr>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="row">
                            <div class="col-xs-12">
                                <p>No Store reviews by the current user.</p>
                            </div>
                            <!-- <center><i class="fa fa-refresh fa-2x fa-spin"></i></center> -->
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="tab-pane" id="space-reviews">
                    <div id="space_reviews">
                    {% if space_reviews.count > 0 %}
                        {% for review in space_reviews %}
                        <div id="space_review_{{review.id}}" class="row">
                            <div class ="col-xs-12">
                                <p class=""><b>{{review.title}}</b></p>

                                <p class="show_space_review_id" style="display:none;">{{review.id}}</p>

                                <p>{{review.review|truncatewords:20}} <a href="{% url 'catalog:space_review' review.id %}">more</a></p>

                                <p class="pull-right">
                                    By <a href="/maker/{{review.user.username}}">{{review.user.first_name}}</a> on <a href="/space/{{review.space.id}}">{{review.space.name}}</a>
                                </p>

                                <div class="pull-left">
                                {% if review.rating > 0 %}
                                <span>
                                    {% if review.rating == 5 %}
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> (5/5)
                                    {% endif %}
                                    {% if review.rating == 4 %}
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> (4/5)
                                    {% endif %}
                                    {% if review.rating == 3 %}
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> (3/5)
                                    {% endif %}
                                    {% if review.rating == 2 %}
                                        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> (2/5)
                                    {% endif %}
                                    {% if review.rating == 1 %}
                                        <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> (1/5)
                                    {% endif %}
                                    {% if review.rating == 0 %}
                                        <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> (0/5)
                                    {% endif %}
                                </span>
                                {% else %}
                                    No Rating
                                {% endif %}
                                </div>

                                <br/><hr>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="row">
                            <div class="col-xs-12">
                                <p>No Space reviews by the current user.</p>
                            </div>
                            <!-- <center><i class="fa fa-refresh fa-2x fa-spin"></i></center> -->
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-md-3" >
        <div id="sticker_leftcolumn">
            <div class="mini-layout-sidebar" style="width:250px;">
                <ul class="nav nav-list well">
                    <li class="nav-header text_center">
                        <h3>All Reviews</h3>
                    </li>
                    <hr/>
                    <li>
                        <p>This is a complete listing of all the reviews on Makeystreet. Click on any one and find out more details.</p>
                    </li>
                    <a class="btn btn-lg btn-success btn-group-justified" href = "{% url 'catalog:create_review' %}">
                        Create a Makey now!
                    </a>
                </ul>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block extra_js_end %}
{% endblock %}