{% extends "catalog/base.html" %}

{% load static from staticfiles %}

{% block title %} {{article.title}} {% endblock %}

{% block contentmeta%}
    <meta property="og:type"   content="article" />
    <meta property="og:url"    content="http://www.makeystreet.com/article/{{article.id}}/" />
    <meta property="og:title"  content="{{article.title}}" />
    <meta property="og:image"  content="{{article.image_url}}" />
    <meta property="og:description" content="{{article.description}}" />
    <meta property="og:site_name" content="Makeystreet" />
    <meta property="og:determiner" content="an" />
    <meta property="article:published_time" content="{{article.added_time|date:"c"}}" />
    {% for tag in article.tags.all %}
    <meta property="article:tag" content="{{tag.name}}" />
    {% endfor %}
{% endblock%}

{% block extra_js %}
<script type="text/javascript">
    var cur_user_details = {{user_details|safe}};

    {% if user.is_authenticated %}
        var global_user_id = "{{user.id}}";
    {% else %}
        {% load auth_tags %}
        {% uuid temp_id %}
        var global_user_id = "{{temp_id}}";
    {% endif %}
</script>

<style type="text/css">
    blockquote:before {
        display: none;
    }

    .list-group-item {
        padding: 5px 10px;
    }

    hr {
        margin: 5px;
    }

</style>

<script src="{% static 'js/typeahead.js' %}"></script>
<style type="text/css">
.search-tags .typeahead {
    width: 100%;
    font-size: 13px;
    padding: 6px 8px;
    max-width: 100%;
    margin: 1px 0;
    color: #394263;
    border: 1px solid #dbe1e8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.search-users .typeahead {
    width: 100%;
    font-size: 13px;
    padding: 6px 8px;
    max-width: 100%;
    margin: 1px 0;
    color: #394263;
    border: 1px solid #dbe1e8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.twitter-typeahead {
    width: 100%;
}

.tt-query,
.tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  /*min-width: 400px;*/
  width: 100%;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
  margin: 0;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.tt-suggestion-empty {
    margin: 0;
}

.tt-suggestion-empty > span {
  display: inline;
  padding: 7px 20px;
  padding-bottom: 0;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
  margin: 0;
}

.tt-suggestion-empty > button {
  margin-bottom: 5px;
  margin-right: 20px;
}

</style>
{% endblock %}

{% block templates %}
     {% include "catalog/t/t_article_page.html" %}
{% endblock %}

{% block backbone %}
        {% include "catalog/bb/bb_article_page.html" %}
{% endblock %}

{% block content_top %}
{% endblock %}

{% block content_full %}

{% if not user.is_authenticated %}
    {% load socialaccount %}
    {% load static %}
<div class="row">
    <div class="col-xs-12">
        <div class="modal fade col-sm-12" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_modal_label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content col-sm-offset-1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="login_modal_label">Please Login or Register</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="{% provider_login_url 'facebook' next=request.get_full_path %}"><img src="{% static 'images/facebook.png' %}"/></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="{% provider_login_url 'google' next=request.get_full_path %}"><img src="{% static 'images/google.png' %}" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="col-xs-3">
    <h4>Tags</h4>
    <div class="search-tags form-group">
        <input class="typeahead" type="text" placeholder="Search for channels" class="form-control">
    </div>
    <h5>Popular channels</h5>
    <div class="list-group">
        <a href="{% url 'catalog:tag_page' 'all' %}" class="list-group-item">
        All
        <span class="badge pull-right">{{article_count}}</span>
        </a>
    {% for tag in all_tags %}
        <a href="{% url 'catalog:tag_page' tag.url_snippet %}" class="list-group-item">
        {{tag.name}}
        <span class="badge pull-right">{{tag.num_articles}}</span>
        {% if tag in fav_channel %}
        <span class="badge pull-right"><span class="glyphicon glyphicon-heart"></span></span>
        {% endif %}
        </a>
    {% endfor %}
    </div>
    <h5><strong>Want to recommend something?</strong></h5>
    <button type="button" class="btn btn-block btn-success" onclick="window.open('{% url 'catalog:create_article' %}','_self');">Create recommendation</button>
</div>
<div class="col-xs-6">
    <div class="row">
        <div class="col-xs-12">
            <div class="block">
                <div class="row">
                    <div class="col-xs-3">
                        <img src="{{article.image_url}}" class="img-thumbnail">
                        <!-- <div style="background: url('{{article.image_url}}')" class="landscape-img"></div> -->
                    </div>
                    <div class="col-xs-9">
                        <a href="{{article.url}}" class="articleMixpanel" target="_blank"><h4 style="margin-top: 0;">{{article.title}}</h4></a>
                        <p style="margin-bottom: 10px;">{{article.description}}</p>
                    </div>
                </div>
                {% if article.recommendation %}
                <div class="row">
                    <div style="padding: 0 15px;">
                        <blockquote style="padding: 0; margin: 10px 0; font-size: 16px;">
                            <p style="padding: 0 0 0 10px; margin-bottom: 0;">{{article.recommendation}}</p>
                            <footer style="padding: 0 0 0 10px;"><a href="{% url 'catalog:article_user_page' article.user.username %} ">{{article.user.first_name}} {{article.user.last_name}}</a></footer>
                        </blockquote>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-12" style="padding-bottom: 10px; font-size: 13px;">
                        <span class="pull-left">
                        Channels:
                        {% for tag in article.tags.all %}
                            {% if forloop.last %}
                                <a href="{% url 'catalog:tag_page' tag.url_snippet %}">{{tag.name}}</a>
                            {% else %}
                                <a href="{% url 'catalog:tag_page' tag.url_snippet %}">{{tag.name}}</a>,
                            {% endif %}
                        {% endfor %}
                        </span>
                        {% if 0 and article.rating > 0 %}
                        <span class="pull-right">
                        Rating:
                            {% if article.rating == 5 %}
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            {% endif %}
                            {% if article.rating == 4 %}
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% if article.rating == 3 %}
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% if article.rating == 2 %}
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% if article.rating == 1 %}
                                <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% if article.rating == 0 %}
                                <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                            {% endif %}
                        </span>
                        {% endif %}

                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-xs-12">
                        <span id="article-{{article.id}}-likes">
                            <span class="likes"></span>
                            <div class="modal fade col-sm-12" id="all_likes_modal" tabindex="-1" role="dialog" aria-labelledby="all_likes_label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content col-sm-offset-1">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title" id="all_likes_label">People who like this</h4>
                                        </div>
                                        <div class="modal-body">
                                            List of likers
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default close_comment_modal" data-dismiss="modal" id="close_new_comment_modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
                {% if editable %}
                    <hr style="border-top: dotted 1px #DDD;" />
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <a href="{% url 'catalog:article_edit_page' article.id %}">
                                <button type="button" class="btn btn-primary btn-sm">Edit this article</button>
                            </a>
                        </div>
                    </div>
                {% endif %}
                <hr style="border-top: dotted 1px #DDD;" />
                <div class="row" id="comments">
                    <div class="col-xs-12">
                        <h4 style="margin-top: 0px;">Comments</h4>
                        <div id="article_comments">
                                <center><i class="fa fa-refresh fa-2x fa-spin"></i></center>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="" id="create_comment" class="preventDefault" data-toggle="modal" data-target="#new_comment_modal">
                                <span class="glyphicon glyphicon-plus"></span>
                                Add new comment
                                </a>
                            </div>
                        </div>
                        {% if user.is_authenticated %}
                        <!-- New Comment Modal -->
                        <div class="modal fade col-sm-12" id="new_comment_modal" tabindex="-1" role="dialog" aria-labelledby="new_comment_label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content col-sm-offset-1">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="new_comment_label">New Comment</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Enter the comment details and click submit.
                                            <textarea class="form-control" id="new_comment_body" name="new_comment_body" placeholder="Write comment here .."></textarea>
                                        </p>
                                        <div class="alert alert-warning" id="waiting_new_comment" style="display:none;">Saving ... Please wait!</div>
                                        <div class="alert alert-success" id="success_new_comment" style="display:none;">Saved!</div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info" id="save_new_comment">Submit</button>
                                        <button type="button" class="btn btn-default close_comment_modal" data-dismiss="modal" id="close_new_comment_modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-3">
    <h4>Users</h4>
        <div class="search-users form-group">
            <input class="typeahead" type="text" placeholder="Search for users" class="form-control">
        </div>
        <h5>Popular users</h5>
        <div class="list-group">
        {% for user in popular_users %}
            <a href="{% url 'catalog:article_user_page' user.username %}" class="list-group-item">
            {{user.first_name}} {{user.last_name}}
            <span class="badge pull-right">{{user.article_count}}</span>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
