{% extends "catalog/base.html" %}

{% load static from staticfiles %}

{% block title %} Makeystreet | Create a Listing {% endblock %}

{% block templates %}
{% endblock %}

{% block backbone %}
{% endblock %}

{% block content_full %}
<div class="col-sm-10 col-md-10 col-centered">
    <div class="block">
        <div class="block-title">
            <h2>Create New Job Listing</h2>
        </div>

        <form action="#" method="post" class="form-horizontal form-bordered">
            <div class="form-group">
                <label class="col-md-3 control-label" for="val_title">Title<span class="text-danger">&nbsp;*</span></label>
                <div class="col-md-9">
                    <input type="text" id="val_title" name="val_title" class="form-control" placeholder="Heading for the listing" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="val_company">Company Name<span class="text-danger">&nbsp;*</span></label>
                <div class="col-md-9">
                    <input type="text" id="val_company" name="val_company" class="form-control" placeholder="Name of the Company" required="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="val_listing">Details<span class="text-danger">&nbsp;*</span></label><br/>
                <div class="col-md-9">
                    <textarea id="val_listing" name="val_listing" rows="10" class="form-control textarea-editor" placeholder="Enter the listing details here ..." autofocus></textarea>
                </div>
            </div>
            <div class="form-group form-actions">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                    <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset</button>
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js_end %}
<script type="text/javascript">
    $('.textarea-editor').wysihtml5();
</script>
{% endblock %}