{% extends "catalog/base_v2.html" %}
{% load static from staticfiles %}

{% block title %}Makeystreet | {{ makey.name }}{% endblock %}
{% block contentmeta %}
<meta property="og:title"  content="{{makey.name}}" />
<meta property="og:type"   content="makey_street:makey" />
<meta property="og:url"    content="{{makey_url}}" />
{% if makey.cover_pic %}
<meta property="og:image"  content="{{makey.cover_pic}}"/>
<meta property="og:image:url" content="{{makey.cover_pic}}" />
{% else %}
<meta property="og:image"  content="{{makey.images.all.0}}"/>
<meta property="og:image:url"  content="{{makey.images.all.0}}"/>
{% endif %}

<meta name="og:description" content="{{makey.about}}">
<meta name="og:author" content="{{makey.user}}">
{% endblock %}

{% block extra_js %}
<!-- App Assets -->
<script>
  var GLOBALS = {
    'MAKEY_ID' : '{{makey.id}}',
    'MAKEY_URL_ROOT' : '{% url 'catalog:makey_new_slug' makey.user.username makey.slug %}',
    'SEARCH_URL' : '{% url 'catalog:search_in_makey' makey.user.username makey.slug %}'
  }
</script>

{% load compress %}
{% compress js %}
<script src="{% static 'app/makey/issues.js' %}"></script>
<script src="{% static 'app/common/navbar.js' %}"></script>
{% endcompress %}
{% compress css %}
<link rel="stylesheet" href="{% static 'app/makey/issues.css' %}" type="text/css">
{% endcompress %}
{% endblock %}

{% block content_full %}

<!-- Top Nav Bar -->
<div class="ui grid title-bar-container">
  <div class="row">
    <div class="ui page grid title-bar">
      <div class="ten wide column">
        <h1 class="ui header makey-header"><a href="{{makey.get_absolute_url}}">{{makey.name}}</a></h1>
        {% if parents %}
        <div class="ui medium breadcrumb makey-parents">
          {% for parent in parents %}
          <a class="section" href="{{parent.get_absolute_url}}">{{parent.name}}</a>
          <i class="right chevron icon divider"></i>
          {% endfor %}
          <div class="active section">{{makey.name}}</div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="ui page grid page-container">
  <div class="ui grid page-content">
    <div class="row">
      <div class="ui secondary pointing menu tabular">
        <a class="item" href="{% url 'catalog:makey_new_tab_slug' makey.user.username makey.slug 'overview' %}">
          <i class="home icon"></i> OVERVIEW
        </a>
        <a class="item" href="{% url 'catalog:makey_new_tab_slug' makey.user.username makey.slug 'insights' %}">
          <i class="idea icon"></i>
          {% if insights_count %}
          {{insights_count}}
          {% endif %}
          INSIGHTS
        </a>
        <a class="item active" href="{% url 'catalog:makey_new_issues' makey.user.username makey.slug %}">
          <i class="list icon"></i>
          {% if issues_count %}
          {{issues_count}}
          {% endif %}
          ISSUES
        </a>
        <a class="item" href="{% url 'catalog:makey_new_tab_slug' makey.user.username makey.slug 'files' %}">
          <i class="folder icon"></i>
          {% if files_count %}
          {{files_count}}
          {% endif %}
          FILES
        </a>
        <a class="item" href="{% url 'catalog:makey_new_bom' makey.user.username makey.slug %}">
          <i class="file text outline icon"></i>
          {% if bom_count %}
          {{bom_count}}
          {% endif %}
          BOM
        </a>
        <a class="item" href="{% url 'catalog:makey_new_tab_slug' makey.user.username makey.slug 'docs' %}">
          <i class="book icon"></i>
          {% if docs_count %}
          {{docs_count}}
          {% endif %}
          DOCS
        </a>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input search-box">
              <input type="text" placeholder="Search this Makey..." class="search-input">
              <i class="search link icon search-button"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="ui grid">
        <div class="sixteen wide column">
          {% comment %}
          <div class="ui buttons">
            <div class="ui blue button active">Issues</div>
            <a href="{% url 'catalog:makey_new_milestones' makey.user.username makey.slug %}" class="ui blue basic button">Milestones</a>
          </div>
          {% endcomment %}
          <div class="ui buttons status-buttons open-active">
            <div class="ui blue button active open">{{issues.open_count}} Open</div>
            <a class="ui blue basic button closed">{{issues.closed_count}} Closed</a>
          </div>
          <div class="ui buttons status-buttons closed-active" style="display:none">
            <a class="ui blue basic button open">{{issues.open_count}} Open</a>
            <div class="ui blue button active closed">{{issues.closed_count}} Closed</div>
          </div>
          {% if not request.user.is_authenticated %}
          <div class="ui primary button right floated login-button">New Issue</div>
          {% else %}
          <a href="{% url 'catalog:makey_new_issue_add' makey.user.username makey.slug %}" class="ui primary button right floated">New Issue</a>
          {% endif %}

          <div class="ui segment issues-segment open-issues" style="margin-bottom: 0">
            {% if issues.open_count %}
            <div class="ui divided items">
              {% for issue in issues.open %}
              <div class="item">
                <div class="content">
                  <a class="header" href="{% url 'catalog:makey_new_issue' makey.user.username makey.slug issue.id %}">{{issue.title}}</a>
                  <div class="meta">
                    <a class="author" href="{% url 'catalog:maker' issue.owner.username %}">{{issue.owner.first_name}} {{issue.owner.last_name}}</a>
                    <span class="time">opened this issue {{issue.added_time|timesince}} ago</span>
                  </div>
                  <div class="extra">
                    {% if issue.labels.count != 0 %}
                    <i class="icon tags"></i>
                    {% for tag in issue.labels.all %}
                    {% if forloop.last %}
                    {{tag.name}}
                    {% else %}
                    {{tag.name}},
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <a class="comments" href="{% url 'catalog:makey_new_issue' makey.user.username makey.slug issue.id %}"><i class="comments outline icon"></i> {{issue.comments.count}} comment{{issue.comments.count|pluralize}}</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            {% else %}
            <center><p>No open issues</p></center>
            {% endif %}
          </div>
          <div class="ui segment issues-segment closed-issues" style="display:none">
            {% if issues.closed_count %}
            <div class="ui divided items">
              {% for issue in issues.closed %}
              <div class="item">
                <div class="content">
                  <a href="{% url 'catalog:makey_new_issue' makey.user.username makey.slug issue.id %}" class="header">{{issue.title}}</a>
                  <div class="meta">
                    <span class="time">closed {{issue.closed_time|timesince}} ago</span>
                  </div>
                  <div class="extra">
                    {% if issue.labels.count != 0 %}
                    <i class="icon tags"></i>
                    {% for tag in issue.labels.all %}
                    {% if forloop.last %}
                    {{tag.name}}
                    {% else %}
                    {{tag.name}},
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <a class="comments" href="{% url 'catalog:makey_new_issue' makey.user.username makey.slug issue.id %}"><i class="comments outline icon"></i> {{issue.comments.count}} comment{{issue.comments.count|pluralize}}</a>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            {% else %}
            <center><p>No closed issues</p></center>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
