{% extends "catalog/base_v2.html" %}
{% load static from staticfiles %}

{% block title %}Makeystreet | {{ makey.name }}{% endblock %}
{% block contentmeta %}
<meta property="og:title"  content="{{makey.name}}" />
<meta property="og:type"   content="makey_street:makey" />
<meta property="og:url"    content="{{makey_url}}" />
{% if makey.cover_pic %}
<meta property="og:image"  content="{{makey.cover_pic}}"/>
<meta property="og:image:url" content="{{makey.cover_pic}}" />
{% else %}
<meta property="og:image"  content="{{makey.images.all.0}}"/>
<meta property="og:image:url"  content="{{makey.images.all.0}}"/>
{% endif %}

<meta name="og:description" content="{{makey.about}}">
<meta name="og:author" content="{{makey.user}}">
{% endblock %}

{% block extra_css %}
<style>
  .userPopover{
    max-width : 500px !important;
    width : 350px !important;
    padding: 1px;
    margin: 1px;
  }
  .notePopover{
    width: 275px !important;

  }
  .cn {
    position: absolute;
    display: table;
    z-index: 2;
    opacity: 0;
    left: 10;
    top: 10;
    width:50px; /*replace this width programatically*/
    height:50px;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    opacity:1;
    background:rgba(0,0,0,0) center no-repeat;
  }
  div.inner {
    xdisplay: block;
    display:table-cell;
    vertical-align:middle;
  }
</style>
{% endblock %}

{% block extra_js %}
<!-- Magnific Stuff -->
<script src="{% static 'js/s3upload.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

<!-- D3 Stuff -->
<script src="{% static 'js/d3.min.js' %}"></script>
<script src="{% static 'js/d3-tip.js' %}"></script>

<!-- App Assets -->
<script>
  var GLOBALS = {
    'MAKEY_ID' : '{{makey.id}}',
    'MAKEY_URL_ROOT' : '{% url 'catalog:makey_new_slug' makey.user.username makey.slug %}',
    'S3_SIGN_URL' : '{% url 'catalog:sign_image_s3' %}',
    'S3_SIGN_FILE_URL' : '{% url 'catalog:sign_file_s3' %}',
    'SEARCH_URL' : '{% url 'catalog:search_in_makey' makey.user.username makey.slug %}',
    'ISSUES_URL' : '{% url 'catalog:makey_new_issues' makey.user.username makey.slug %}',
    'BOM_URL' : '{% url 'catalog:makey_new_bom' makey.user.username makey.slug %}',
  };
  var app = {};
</script>
{% load compress %}
{% compress js %}
<script src="{% static 'app/makey/main.js' %}"></script>
<script src="{% static 'app/common/navbar.js' %}"></script>
{% endcompress %}

{% compress css %}
<link rel="stylesheet" href="{% static 'app/makey/main.css' %}" type="text/css">
{% endcompress %}

<script type="text/javascript">
  var cur_user_details = {{user_details|safe}};
</script>

<script type="text/javascript">
  $(document).ready(function(){
    mixpanel.track_links("a[rel=topbar]", "NavbarTop", function(target){
      var details = {};

      if(app.cur_fb_user == undefined) {
        curUser = "NotLoggedIn";
      } else {
        curUser = app.cur_fb_user.facebook_name;
      }

      details.btn = target.innerText;
      details.user = curUser;

      return details;
    });
    $('.readmore').click(function(e){
      id=$(this).attr('id');
      note_id=id.replace("rm_","");
      $("#desc_hidden_"+note_id).show();
      $("#desc_shown_"+note_id).hide();
      $(this).hide();
    });
  });
</script>


<!-- D3 Stuff -->
<style>
  .d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(249, 250, 252, 1);
    color: black;
    border-radius: 2px;
  }

  .d3-tip strong {
    color: #1BBAE1;
  }

</style>
<style>

  .node {
    cursor: pointer;
  }

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .node text {
    font: 10px sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  #content-tabs > li > a {
    background-color: white;
  }

  #content-tabs > li {
    padding-left: 3px;
    padding-right: 3px;
  }

  #content-tabs > li.active > a {
    background-color: #1bbae1;
    color: white;
  }

  #content-tabs > li > a:hover {
    background-color: #1bbae1;
    color: white;
  }

  .sidebar-separator {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  #insights-comments-wrapper {
    position: relative;
  }
  #insights-comments-wrapper:after {
    right: 100%;
    top: 9%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #F9FAFC;
    border-width: 15px;
    margin-top: -15px;
  }

</style>
{% endblock %}


{% block templates %}
{% include "catalog/t/t_makey_page_v2.html" %}
{% endblock %}

{% block content_full %}

<!-- Top Nav Bar -->
<div class="ui grid title-bar-container">
  <div class="row">
    <div class="ui page grid title-bar">
      <div class="ten wide column">
        <h1 class="ui header makey-header"><a href="{{makey.get_absolute_url}}">{{makey.name}}</a></h1>
        {% if parents %}
        <div class="ui medium breadcrumb makey-parents">
          {% for parent in parents %}
          <a class="section" href="{{parent.get_absolute_url}}">{{parent.name}}</a>
          <i class="right chevron icon divider"></i>
          {% endfor %}
          <div class="active section">{{makey.name}}</div>
        </div>
        {% endif %}
      </div>
      <div class="six wide column">
        {% if can_edit %}
        <a class="ui icon basic button right floated" href="{% url 'catalog:makey_new_settings' makey.user.username makey.slug %}">
          <i class="setting icon"></i> Settings
        </a>
        {% endif %}
        {% if request.user not in makey.collaborators.all %}
        <form action="/makey_action/" method="post" class="ui form watch-toggle-form">
          <input type="hidden" name="makey_id" value="{{makey.id}}">
          <input type="hidden" name="action" value="toggle-makey-watch">
          {% if not request.user.is_authenticated %}
          <div class="ui labeled icon primary button right floated login-button">
            <i class="unhide icon"></i> Watch {% if makey.watchers_count %}({{makey.watchers_count}}){% endif %}
          </div>
          {% else %}
          {% if makey.user_watching %}
          <div class="ui labeled icon basic button right floated submit">
            <i class="hide icon"></i> Unwatch {% if makey.watchers_count %}({{makey.watchers_count}}){% endif %}
          </div>
          {% else %}
          <div class="ui labeled icon primary button right floated submit">
            <i class="unhide icon"></i> Watch {% if makey.watchers_count %}({{makey.watchers_count}}){% endif %}
          </div>
          {% endif %}
          {% endif %}
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<div class="ui page grid page-container">
 <div class="ui grid page-content">
    <div class="row">
      <div class="ui secondary pointing menu tabular page-tabs">
        <a class="active item" data-tab="overview">
          <i class="home icon"></i> OVERVIEW
        </a>
        <a class="item" data-tab="insights">
          <i class="idea icon"></i>
          {% if approved_notes.count %}
          {{approved_notes.count}}
          {% endif %}
          INSIGHTS
        </a>
        <a class="item" href="{% url 'catalog:makey_new_issues' makey.user.username makey.slug %}">
          <i class="list icon"></i>
          {% if issues_count %}
          {{issues_count}}
          {% endif %}
          ISSUES
        </a>
        <a class="item" data-tab="files">
          <i class="folder icon"></i>
          {% if makey.files.count %}
          {{makey.files.count}}
          {% endif %}
          FILES
        </a>
        <a class="item" href="{% url 'catalog:makey_new_bom' makey.user.username makey.slug %}">
          <i class="file text outline icon"></i>
          {% if bom_count %}
          {{bom_count}}
          {% endif %}
          BOM
        </a>
        <a class="item" data-tab="docs">
          <i class="book icon"></i>
          {% if makey.text_documentations.count %}
          {{makey.text_documentations.count}}
          {% endif %}
          DOCS
        </a>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input search-box">
              <input type="text" placeholder="Search this Makey..." class="search-input">
              <i class="search link icon search-button"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row page-tabs-content">
      <div class="ui tab active" data-tab="overview">
        <div class="ui grid">
          <div class="three wide column">
            {% if makey.cover_pic.large_url %}
            <img class="ui medium rounded image" src="{{ makey.cover_pic.large_url }}">
            {% else  %}
            <img class="ui medium rounded image" src="{% static 'images/oshw.jpg' %}">
            {% endif %}
          </div>
          <div class="seven wide column">
            <p>{{makey.about}}</p>
            <div class="ui segment collaborators">
              <div class="ui top attached label">Makers</div>
              <div class="ui small horizontal list">
                {% for user in makey.collaborators.all %}
                <div class="item">
                  <div class="content">
                    {% if forloop.last %}
                    <a href="{% url 'catalog:maker' user.username %}" target="_blank" class="collaborator-name">{{ user.first_name }}</a>
                    {% else %}
                    <a href="{% url 'catalog:maker' user.username %}" target="_blank" class="collaborator-name"> {{ user.first_name }}</a>,
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="six wide column">

            <div class="ui segment updates-feed-container">
              <div class="ui top attached label">Updates</div>
              <div class="updates-feed">
                <div class="ui item feed small updates-preview-items">

                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="ui grid">
          <div class="ten wide column">
            <div class="ui segment">
              <div class="ui top attached label">Assembly <span class="assembly-link-container"></span></div>
              <div id="d3-container" class="hierarchy-container"></div>
              {% if can_edit %}
              <div class="ui bottom right attached label"><a href="{% url 'catalog:makey_add_submodule' makey.id %}">Add a subassembly</a></div>
              {% endif %}
            </div>
          </div>
          <div class="six wide column">
            <div class="ui segment basic">
              <div class="ui fluid two item secondary pointing menu tabular activity-tabs">
                <a class="active item" data-tab="insights-preview"> INSIGHTS </a>
                <a class="item" data-tab="discussions-preview"> DISCUSSIONS </a>
              </div>
              <div class="ui tab active" data-tab="insights-preview">
                <div class="ui segment basic insights-preview-segment">
                  <div class="ui divided items insights-preview-items"></div>
                </div>
              </div>
              <div class="ui tab" data-tab="discussions-preview">
                <div class="ui segment basic discussions-preview-segment">
                  <div class="ui divided items discussions-preview-items"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui tab" data-tab="insights">
        <div class="ui grid">

          <div class="ten wide column">
            {% if notes %}
            <div class="ui segment insights-segment">
              <div class="ui top attached label">{{approved_notes.count}} Insight{{approved_notes.count|pluralize}}</div>
              <div class="ui divided items">
                {% load catalog_tags %}
                {% for note in notes %}
                {% if not note.is_pending_approval %}
                <div class="item">
                  {% if note.image %}
                  <a class="ui tiny image" href="{% url 'catalog:makey_new_insight_slug' makey.user.username makey.slug note.id %}">
                    <img src="{{note.image.small_url}}">
                  </a>
                  {% endif %}
                  <div class="content">
                    <a class="header" href="{% url 'catalog:makey_new_insight_slug' makey.user.username makey.slug note.id %}">{{note.title}}</a>
                    <div class="meta">
                      <span class="time">posted {{note.added_time|timesince}} ago by</span>
                      <a class="author" href="{% url 'catalog:maker' note.user.username %}">{{note.user.first_name}} {{note.user.last_name}}</a>
                    </div>
                    <div class="description">
                      <div id="desc_hidden_{{note.id}}" style="display:none">
                        {{note.body|urlize_target_blank:None|linebreaks}}
                      </div>
                      <div id="desc_shown_{{note.id}}">
                        {{note.body|urlize_target_blank:None|linebreaks|truncatewords_html:30}}
                        {% ifnotequal note.body|urlize_target_blank:None|linebreaks|truncatewords_html:30|length note.body|urlize_target_blank:None|linebreaks|truncatewords_html:31|length %}
                        <!-- <a href="{% url 'catalog:makey_new_insight_slug' makey.user.username makey.slug note.id %}">read more</a> &-->
                        <a class="readmore" id="rm_{{note.id}}">read more</a>
                        {% endifnotequal %}
                      </div>
                    </div>
                    <div class="extra">
                      {% if note.tags_count != 0 %}
                      <i class="icon tags"></i>
                      {% for tag in note.tags.all %}
                      {% if forloop.last %}
                      {{tag.name}}
                      {% else %}
                      {{tag.name}},
                      {% endif %}
                      {% endfor %}
                      {% endif %}
                      {% if note.comments.count %}
                      <a class="right floated comments" href="{% url 'catalog:makey_new_insight_slug' makey.user.username makey.slug note.id %}">{{note.comments.count}} comment{{note.comments.count|pluralize}}</a>
                      {% else %}
                      <a class="right floated comments" href="{% url 'catalog:makey_new_insight_slug' makey.user.username makey.slug note.id %}">leave a comment</a>
                      {% endif %}
                      <span class="right floated divider">|</span>
                      <form action="/makey_action/" method="post" class="ui form upvote-insight-toggle">
                        <input type="hidden" name="makey_id" value="{{makey.id}}">
                        <input type="hidden" name="insight_id" value="{{note.id}}">
                        <input type="hidden" name="action" value="toggle-upvote-insight">
                        {% if not request.user.is_authenticated %}
                        <a class="right floated upvote login-button">upvote ({{note.upvote_count}})</a>
                        {% else %}
                        {% if note.user_upvoted %}
                        <div class="right floated upvote submit">upvoted ({{note.upvote_count}})</div>
                        {% else %}
                        <a class="right floated upvote submit">upvote ({{note.upvote_count}})</a>
                        {% endif %}
                        {% endif %}
                      </form>
                      {% if request.user and request.user.is_authenticated and request.user == note.user %}
                      <span class="right floated divider">|&nbsp;&nbsp;</span>
                      <a class="right floated" href="{% url 'catalog:makey_new_insight_edit' makey.user.username makey.slug note.id %}">edit</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
              <div class="ui right rail">
                {% if not request.user.is_authenticated %}
                <a class="ui primary medium button login-button">
                  <i class="add icon"></i>
                  Add an Insight
                </a>
                {% else %}
                <a class="ui primary medium button add-insight-link" href="{% url 'catalog:makey_new_insight_add' makey.user.username makey.slug %}">
                  <i class="add icon"></i>
                  Add an Insight
                </a>
                {% endif %}
              </div>
            </div>
            {% if can_edit %}
            <div class="ui segment insights-segment">
              <div class="ui top attached label">Pending Insights</div>
              <div class="ui divided items">
                {% load catalog_tags %}
                {% for note in notes %}
                {% if note.is_pending_approval %}
                <div class="item">
                  <div class="content">
                    <a class="header" href="{% url 'catalog:makey_new_insight_slug' makey.user.username makey.slug note.id %}">{{note.title}}</a>
                    <div class="meta">
                      <span class="time">posted {{note.added_time|timesince}} ago by</span>
                      <a class="author" href="{% url 'catalog:maker' note.user.username %}">{{note.user.first_name}} {{note.user.last_name}}</a>
                      {% if note.comments.count %}
                      <a class="right floated comments" href="{% url 'catalog:makey_new_insight_slug' makey.user.username makey.slug note.id %}">{{note.comments.count}} comment{{note.comments.count|pluralize}}</a>
                      {% else %}
                      <a class="right floated comments" href="{% url 'catalog:makey_new_insight_slug' makey.user.username makey.slug note.id %}">Leave a comment</a>
                      {% endif %}
                    </div>
                    <div class="description">
                      {{note.body|urlize_target_blank:None|linebreaks|truncatewords_html:30}}
                      {% ifnotequal note.body|urlize_target_blank:None|linebreaks|truncatewords_html:30|length note.body|urlize_target_blank:None|linebreaks|truncatewords_html:31|length %}
                      <a href="{% url 'catalog:makey_new_insight_slug' makey.user.username makey.slug note.id %}">read more</a>
                      {% endifnotequal %}
                    </div>
                    <div class="extra">
                      {% if note.tags.count != 0 %}
                      <i class="icon tags"></i>
                      {% for tag in note.tags.all %}
                      {% if forloop.last %}
                      {{tag.name}}
                      {% else %}
                      {{tag.name}},
                      {% endif %}
                      {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            {% endif %}
            {% if request.user.is_authenticated %}
            <div class="ui segment insights-segment">
              <div class="ui top attached label">Your Pending Insights</div>
              <div class="ui divided items">
                {% load catalog_tags %}
                {% for note in notes %}
                {% if note.is_pending_approval and note.user == request.user %}
                <div class="item">
                  <div class="content">
                    <a class="header" href="{% url 'catalog:makey_new_insight_slug' makey.user.username makey.slug note.id %}">{{note.title}}</a>
                    <div class="meta">
                      <span class="time">posted {{note.added_time|timesince}} ago by</span>
                      <a class="author" href="{% url 'catalog:maker' note.user.username %}">{{note.user.first_name}} {{note.user.last_name}}</a>
                      {% if note.comments.count %}
                      <a class="right floated comments" href="{% url 'catalog:makey_new_insight_slug' makey.user.username makey.slug note.id %}">{{note.comments.count}} comment{{note.comments.count|pluralize}}</a>
                      {% else %}
                      <a class="right floated comments" href="{% url 'catalog:makey_new_insight_slug' makey.user.username makey.slug note.id %}">Leave a comment</a>
                      {% endif %}
                    </div>
                    <div class="description">
                      {{note.body|urlize_target_blank:None|linebreaks|truncatewords_html:30}}
                      {% ifnotequal note.body|urlize_target_blank:None|linebreaks|truncatewords_html:30|length note.body|urlize_target_blank:None|linebreaks|truncatewords_html:31|length %}
                      <a href="#">read more</a>
                      {% endifnotequal %}
                    </div>
                    <div class="extra">
                      {% if note.tags.count != 0 %}
                      <i class="icon tags"></i>
                      {% for tag in note.tags.all %}
                      {% if forloop.last %}
                      {{tag.name}}
                      {% else %}
                      {{tag.name}},
                      {% endif %}
                      {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            {% endif %}
            {% else %}
            <div class="ui segment">
              <p>No Insights yet</p>
              <div class="ui right rail">
                <a class="ui primary medium button add-insight-link" href="{% url 'catalog:makey_new_insight_add' makey.user.username makey.slug %}">
                  <i class="add icon"></i>
                  Add an Insight
                </a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="ui modal add-insight">
          <i class="close icon"></i>
          <div class="header">Add an Insight</div>
          <div class="content">
            <form action="/makey_action/" method="post" class="add-insight-form">
              <div class="ui form add-insight">
                <div class="required field">
                  <label>Title</label>
                  <input type="text" placeholder="Title of your Insight" name="title">
                </div>
                <div class="required field">
                  <label>Description</label>
                  <textarea placeholder="Describe your insight" name="description"></textarea>
                </div>
                <input type="hidden" name="action" value="add-insight">
                <input type="hidden" name="makey_id" value="{{makey.id}}">
              </div>
            </form>
          </div>
          <div class="actions">
            <div class="ui basic button add-insight-cancel">Cancel</div>
            <div class="ui positive right labeled icon button add-insight-submit">
              <i class="add icon"></i>Add
            </div>
          </div>
        </div>
      </div>
      {% comment %}
      <div class="ui tab" data-tab="discussions">
        <div class="ui grid">
          <div class="ten wide column">
            <div class="ui segment">
              <div class="ui top attached label">{{makey.question_set.count}} Discussion{{makey.question_set.count|pluralize}}</div>
              <div class="ui divided items">
                {% for question in makey.question_set.all|dictsortreversed:"created" %}
                <div class="item">
                  <div class="content">
                    <a class="header" href="{% url 'catalog:makey_new_discussion_slug' makey.user.username makey.slug question.id %}">{{question.name}}</a>
                    <div class="meta">
                      <span class="time">asked {{question.created|timesince}} ago by</span>
                      <a class="author" href="{% url 'catalog:maker' question.creator.username %}">{{question.creator.first_name}} {{question.creator.last_name}}</a>
                      {% if question.num_answers %}
                      <a class="right floated comments" href="{% url 'catalog:makey_new_discussion_slug' makey.user.username makey.slug question.id %}">{{question.num_answers}} answer{{question.num_answers|pluralize}}</a>
                      {% else %}
                      <a class="right floated comments" href="{% url 'catalog:makey_new_discussion_slug' makey.user.username makey.slug question.id %}">Answer this question</a>
                      {% endif %}
                      {# <span class="right floated divider">|</span> #}
                      {# <a class="right floated upvote discussion">Upvote</a> #}
                    </div>
                    <div class="description">
                      <p>{{question.description|safe|truncatewords_html:30}}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="ui right rail">
                {% if not request.user.is_authenticated %}
                <div class="ui primary medium button login-button">
                  <i class="add icon"></i>
                  Ask a Question
                </div>
                {% else %}
                <div class="ui primary medium button ask-question">
                  <i class="add icon"></i>
                  Ask a Question
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="ui modal ask-question">
          <i class="close icon"></i>
          <div class="header">Ask a Question</div>
          <div class="content">
            <form action="/makey_action/" method="post" class="ask-question-form">
              <div class="ui form ask-question">
                <div class="required field">
                  <label>Question</label>
                  <input type="text" placeholder="What do you wanna ask?" name="title">
                </div>
                <div class="required field">
                  <label>Description</label>
                  <textarea name="description"></textarea>
                </div>
                <input type="hidden" name="action" value="ask-question">
                <input type="hidden" name="makey_id" value="{{makey.id}}">
              </div>
            </form>
          </div>
          <div class="actions">
            <div class="ui basic button ask-question-cancel">Cancel</div>
            <div class="ui positive right labeled icon button ask-question-submit">
              <i class="add icon"></i>Ask
            </div>
          </div>
        </div>
      </div>
      {% endcomment %}
      <div class="ui tab" data-tab="files">
        <div class="ui grid">
          <div class="ten wide column">
            {% if makey.github_url %}
            <div class="ui icon message">
              <i class="github icon"></i>
              <div class="content">
                <div class="header">
                  The source files for this module are on GitHub
                </div>
                <a href="{{makey.github_url}}" target="_blank">{{makey.github_url}}</a>
              </div>
            </div>
            {% endif %}
            <div class="ui segment">
              <div class="ui top attached label">{{makey.files.count}} File{{makey.files.count|pluralize}}</div>
              <div class="ui divided items">
                {% for file in makey.files.all %}
                <div class="item">
                  <div class="content">
                    <a class="header">{{file.filename}}</a>
                    <div class="meta">
                      <span class="time">uploaded {{file.added_time|timesince}} ago by</span>
                      <a class="author" href="{% url 'catalog:maker' file.user.username %}">{{file.user.first_name}} {{file.user.last_name}}</a>
                      <a href="{{file.url}}" target="_blank" class="right floated download"><i class="download icon"></i> Download File</a>
                    </div>
                    <div class="description">
                      {{file.description}}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% if can_edit %}
              <div class="ui right rail">
                <div class="ui primary medium button add-file">
                  <i class="upload icon"></i>
                  Upload a File
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% if can_edit %}
        <div class="ui modal add-files">
          <i class="close icon"></i>
          <div class="header">Upload a File</div>
          <div class="content">
            <div class="ui center aligned basic segment add-file-segment">
              <div class="ui primary button upload-file-button">
                Select File
              </div>
              <div class="ui form">
                <div class="field">
                  <label></label>
                  <input type="text" placeholder="What does this file have? (optional)" class="upload-file-annotation-input">
                </div>
                <input type="file" class="upload-file-input" name="upload_file_input" id="upload_file_input"/>
              </div>
              <div class="ui progress file-upload-progress-bar">
                <div class="bar">
                  <div class="progress"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="actions">
            <div class="ui basic button add-file-cancel">Cancel</div>
            <div class="ui positive right labeled icon button add-file-submit disabled">
              <i class="upload icon"></i>Upload
            </div>
          </div>
        </div>
        <form action="/makey_action/" method="post" class="add-file-form">
          <input type="hidden" name="makey_id" value="{{makey.id}}">
          <input type="hidden" name="file_url" class="add-file-form-url-input">
          <input type="hidden" name="file_name" class="add-file-form-name-input">
          <input type="hidden" name="file_type" class="add-file-form-type-input">
          <input type="hidden" name="file_desc" class="add-file-form-desc-input">
          <input type="hidden" name="action" value="add-file">
        </form>
        {% endif %}
      </div>
      {% comment %}
      <div class="ui tab" data-tab="gallery">
        <div class="ui grid">
          <div class="ten wide column">
            <div class="ui segment">
              <div class="ui top attached label">{{imgslen}} Image{{imgslen|pluralize}}</div>
              <div class="ui four column grid">
                {% for img in imgs %}
                <div class="column">
                  <div class="ui segment">
                    <!-- <a href="{{img.large_url}}" class="img-popup" data-id="{{img.id}}" data-comments="{{img.comments_count}}" data-insights="{{img.note_set_count}}" data-upvotes="{{img.upvotes_count}}">
                      <img src="{{img.url}}" class="ui fluid image">
                    </a> -->
                    <a  href="{% url 'catalog:makey_new_image_slug' makey.user.username makey.slug img.id %}">
                      <img src="{{img.url}}" class="ui fluid image">
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% if can_edit %}
              <div class="ui right rail">
                <div class="ui primary medium button add-gallery">
                  <i class="add icon"></i>
                  Add an Image or Video
                </div>
              </div>
              {% endif %}
            </div>
            <div class="ui segment">
              <div class="ui top attached label">{{vidslen}} Video{{vidslen|pluralize}}</div>
              <div class="ui four column grid">
                {% for vid in vids %}
                <div class="column">
                  <div class="ui segment">
                    <a class="video-popup" href="{{vid.url}}">
                      <img src="{{vid.thumb_url}}" class="ui fluid image">
                    </a>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% if can_edit %}
        <div class="ui modal add-gallery">
          <i class="close icon"></i>
          <div class="header">Add an Image or Video</div>
          <div class="content">
            <div class="ui fluid two item secondary pointing menu tabular add-gallery-tabs">
              <div class="active item" data-tab="image">Image</div>
              <div class="item" data-tab="video">Video</div>
            </div>
            <div class="ui active tab" data-tab="image">
              <div class="ui center aligned basic segment add-image-segment">
                <div class="ui fluid action input">
                  <input type="text" placeholder="Link to an existing image on the web" class="link-image-input">
                  <div class="ui primary button link-image-button">Add</div>
                </div>
                <div class="ui horizontal divider">
                  Or
                </div>
                <div class="ui primary labeled icon button upload-image-button">
                  Upload Images
                  <i class="upload icon"></i>
                </div>
                <input type="file" multiple class="upload-image-input" name="upload_image_input" id="upload_image_input" accept="image/*" />
                <div class="ui grid secondary segment file-upload-progress">
                </div>
              </div>
            </div>
            <div class="ui tab" data-tab="video">
              <div class="ui center aligned basic segment add-video-segment">
                <div class="ui fluid action input">
                  <input type="text" placeholder="Link to youtube or vimeo video" class="link-video-input">
                  <div class="ui primary button link-video-button">Add</div>
                </div>
              </div>
            </div>
          </div>
          <div class="actions">
            <div class="ui basic button add-gallery-cancel">Cancel</div>
          </div>
        </div>
        <form action="/makey_action/" method="post" class="add-image-form">
          <input type="hidden" name="makey_id" value="{{makey.id}}">
          <input type="hidden" name="action" value="add-image">
        </form>
        <form action="/makey_action/" method="post" class="add-video-form">
          <input type="hidden" name="makey_id" value="{{makey.id}}">
          <input type="hidden" name="url" class="add-video-form-url-input">
          <input type="hidden" name="site" class="add-video-form-site-input">
          <input type="hidden" name="action" value="add-video">
        </form>
        {% endif %}
      </div>
      {% endcomment %}
      <div class="ui tab" data-tab="docs">
        <div class="ui grid">
          <div class="ten wide column">
            <div class="ui segment">
              <div class="ui top attached label">{{makey.text_documentations.count}} Documentation{{makey.text_documentations.count|pluralize}}</div>
              <div class="ui divided items">
                {% for doc in makey.text_documentations.all|dictsort:"order" %}
                <div class="item">
                  <div class="content">
                    <a class="header">{{doc.title}}</a>
                    <div class="meta">
                      <span class="time">added {{doc.added_time|timesince}} ago by</span>
                      <a class="author" href="{% url 'catalog:maker' doc.user.username %}">{{doc.user.first_name}} {{doc.user.last_name}}</a>
                    </div>
                    <div class="description">
                      {{doc.body|safe}}
                    </div>
                    <div class="extra">
                      {% if doc.tags.count != 0 %}
                      <i class="icon tags"></i>
                      {% for tag in doc.tags.all %}
                      {% if forloop.last %}
                      {{tag.name}}
                      {% else %}
                      {{tag.name}},
                      {% endif %}
                      {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              {% if can_edit %}
              <div class="ui right rail">
                <a class="ui primary medium button add-doc" href="{% url 'catalog:makey_new_doc_add' makey.user.username makey.slug %}">
                  <i class="add icon"></i>
                  Add a documentation
                </a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



{% endblock %}

{% block extra_js_end %}
<script>
  var margin = {top: 20, right: 20, bottom: 20, left: 20},
  width = 500 - margin.right - margin.left,
  height = 300 - margin.top - margin.bottom,
  offsetX = 0,
  offsetY = 100,
  depthSeparation = 100,
  fontSize = "12px",
  nodeRadius = 5;

  var i = 0,
  duration = 700,
  root;

  var tree1 = d3.layout.tree()
  .size([height, width]);

  var tree2 = d3.layout.tree()
  .size([height, width]);

  var diagonal = d3.svg.diagonal()
  .projection(function(d) { return [d.y, d.x]; });

  var tip = d3.tip()
  .attr('class', 'd3-tip')
  .offset([-10, 0])
  .html(function(d) {
    return "<strong>" + d.insights_count + "</strong> <span> insights,</span>" +
    "<strong> " + d.discussions_count + "</strong> <span> discussions,</span>" +
    "<strong> " + d.files_count + "</strong> <span> files,</span>" +
    "<strong> " + d.gallery_count + "</strong> <span> media</span>";
  });

  var svg1 = d3.select("#d3-container").append("svg")
  .attr("width", width + margin.right + margin.left)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// var svg2 = d3.select("#d3-container-prev").append("svg")
//     .attr("width", width + margin.right + margin.left)
//     .attr("height", height + margin.top + margin.bottom)
//   .append("g")
//     .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

svg1.call(tip);
// svg2.call(tip);

setMakeyUpdates({{makey.id}});

d3.json("/api/v1/makey/hierarchy/?q={{makey.id}}", function(error, response) {
  root1 = undefined;
  if(response) {
    root1 = response
    root1.x0 = height / 2;
    root1.y0 = offsetY;
  }

  root2 = undefined;
  if(response && response.versions && response.versions.prev) {
    root2 = response.versions.prev;
    root2.x0 = height / 2;
    root2.y0 = offsetY;
  }


  function toggleAll(d) {
    if (d.children) {
      d.children.forEach(toggleAll);
      toggle(d);
    }
  }

  // if(root1 && root2 || root1 && root1.children) {
  //       update1(root1);
  //       if(root2) {
  //           update2(root2);
  //       } else {
  //           $('#d3-container-prev').hide();
  //       }
  // } else {
  //   $('#d3-container').hide();
  //   $('.hierarchy-group').hide();
  // }

  if(root1) {
    update1(root1);
  } else {
  // $('#d3-container').hide();
  // $('.hierarchy-group').hide();
}
$('#d3-container-prev').hide();


});


function update1(source) {

// Compute the new tree layout.
var nodes = tree1.nodes(root1).reverse();

// Normalize for fixed-depth.
nodes.forEach(function(d) { d.y = d.depth * depthSeparation + offsetY; });

// Update the nodes…
var node = svg1.selectAll("g.node")
.data(nodes, function(d) { return d.id || (d.id = ++i); });

// Enter any new nodes at the parent's previous position.
var nodeEnter = node.enter().append("svg:g")
.attr("class", "node")
.attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; });

nodeEnter.append("svg:circle")
.attr("r", 1e-6)
.style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; })
.on("click", function(d) { toggle(d); update1(d); });

nodeEnter
.append("a")
.append("svg:text")
.attr("x", function(d) { return d.children || d._children ? -10 : 10; })
.attr("dy", function(d) { return d.children || d._children ? "-1em" : ".35em"; })
.attr("text-anchor", function(d) { return d.children || d._children ? "middle" : "start"; })
.text(function(d) { return d.name; })
.style("fill-opacity", 1e-6)
.on('mouseover', tip.show)
.on('mouseout', tip.hide)
.on('click', function(d){
  setMakeyPreview(d.makey_id);

});

// Transition nodes to their new position.
var nodeUpdate = node.transition()
.duration(duration)
.attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

nodeUpdate.select("circle")
.attr("r", nodeRadius)
.style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

nodeUpdate.select("text")
.style("fill-opacity", 1)
.style("font-size", fontSize);

// Transition exiting nodes to the parent's new position.
var nodeExit = node.exit().transition()
.duration(duration)
.attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
.remove();

nodeExit.select("circle")
.attr("r", 1e-6);

nodeExit.select("text")
.style("fill-opacity", 1e-6);

// Update the links…
var link = svg1.selectAll("path.link")
.data(tree1.links(nodes), function(d) { return d.target.id; });

// Enter any new links at the parent's previous position.
link.enter().insert("svg:path", "g")
.attr("class", "link")
.attr("d", function(d) {
  var o = {x: source.x0, y: source.y0};
  return diagonal({source: o, target: o});
})
.transition()
.duration(duration)
.attr("d", diagonal);

// Transition links to their new position.
link.transition()
.duration(duration)
.attr("d", diagonal);

// Transition exiting nodes to the parent's new position.
link.exit().transition()
.duration(duration)
.attr("d", function(d) {
  var o = {x: source.x, y: source.y};
  return diagonal({source: o, target: o});
})
.remove();

// Stash the old positions for transition.
nodes.forEach(function(d) {
  d.x0 = d.x;
  d.y0 = d.y;
});
}

function update2(source) {

// Compute the new tree layout.
var nodes = tree2.nodes(root2).reverse();

// Normalize for fixed-depth.
nodes.forEach(function(d) { d.y = d.depth * depthSeparation + offsetY; });

// Update the nodes…
var node = svg2.selectAll("g.node")
.data(nodes, function(d) { return d.id || (d.id = ++i); });

// Enter any new nodes at the parent's previous position.
var nodeEnter = node.enter().append("svg:g")
.attr("class", "node")
.attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; });

nodeEnter.append("svg:circle")
.attr("r", 1e-6)
.style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; })
.on("click", function(d) { toggle(d); update2(d); });

nodeEnter
.append("a")
.attr("xlink:target","_blank")
.attr("xlink:href", function(d) { return "/makey/" + d.makey_id; })
.append("svg:text")
.attr("x", function(d) { return d.children || d._children ? -10 : 10; })
.attr("dy", function(d) { return d.children || d._children ? "-1em" : ".35em"; })
.attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
.text(function(d) { return d.name; })
.style("fill-opacity", 1e-6);

// Transition nodes to their new position.
var nodeUpdate = node.transition()
.duration(duration)
.attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

nodeUpdate.select("circle")
.attr("r", nodeRadius)
.style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

nodeUpdate.select("text")
.style("fill-opacity", 1)
.style("font-size", fontSize);

// Transition exiting nodes to the parent's new position.
var nodeExit = node.exit().transition()
.duration(duration)
.attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
.remove();

nodeExit.select("circle")
.attr("r", 1e-6);

nodeExit.select("text")
.style("fill-opacity", 1e-6);

// Update the links…
var link = svg2.selectAll("path.link")
.data(tree2.links(nodes), function(d) { return d.target.id; });

// Enter any new links at the parent's previous position.
link.enter().insert("svg:path", "g")
.attr("class", "link")
.attr("d", function(d) {
  var o = {x: source.x0, y: source.y0};
  return diagonal({source: o, target: o});
})
.transition()
.duration(duration)
.attr("d", diagonal);

// Transition links to their new position.
link.transition()
.duration(duration)
.attr("d", diagonal);

// Transition exiting nodes to the parent's new position.
link.exit().transition()
.duration(duration)
.attr("d", function(d) {
  var o = {x: source.x, y: source.y};
  return diagonal({source: o, target: o});
})
.remove();

// Stash the old positions for transition.
nodes.forEach(function(d) {
  d.x0 = d.x;
  d.y0 = d.y;
});
}

// Toggle children.
function toggle(d) {
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
}

</script>
{% endblock %}
