{% extends "catalog/base.html" %}

{% load static from staticfiles %}

{% block title %} {{space.name}} {% endblock %}
{% block contentmeta%}
    <meta name="description" content="Complete inventory of {{space.name}}.">
{% endblock%}

{% block extra_js %}
<!-- <script type="text/javascript" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script> -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
<script type="text/javascript">
        var cur_user_details = {{user_details|safe}};
</script>

{% if is_space_admin %}

<script src="{% static 'js/typeahead.js' %}"></script>
<style type="text/css">
.twitter-typeahead {
    width: 100%;
}

.tt-query,
.tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  /*min-width: 400px;*/
  width: 100%;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
  margin: 0;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.tt-suggestion-empty {
    margin: 0;
}

.tt-suggestion-empty > span {
  display: inline;
  padding: 7px 20px;
  padding-bottom: 0;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
  margin: 0;
}

.tt-suggestion-empty > button {
  margin-bottom: 5px;
  margin-right: 20px;
}

</style>
{% endif %}
{% endblock %}

{% block templates %}
     {% include "catalog/t/t_space_inventory_page.html" %}
{% endblock %}

{% block backbone %}
        {% include "catalog/bb/bb_space_inventory_page.html" %}
{% endblock %}

{% block content_top %}
{% endblock %}

{% block content_full %}
<div class="col-sm-3 col-md-3">
    {% include "catalog/components/space_mini_column.html" %}
</div>

<div class="col-sm-9 col-md-9">
    <div class="row">
        {% if space.inventory_list or is_space_admin %}
        <div class="col-xs-12">
            <div class="table-responsive block" style="padding-bottom: 20px" id="inventory-wrapper">
                {% if is_space_admin %}
                <div class="block-title"><h4>Edit Inventory</h4></div>
                <div id="add-inventory">
                    <div class="form-group" id="inventory-form">
                        <span class="col-md-4">
                        </span>
                        <span class="col-md-8">
                            <p><strong>Add inventory</strong></p>
                        </span>
                        <label class="col-md-4 control-label" for="part_name">Part Name</label>
                            <div class="col-md-8">
                                <input type="text" id="input_part_name" class="form-control typeahead" placeholder="Enter name of part">
                            </div>
                        <label class="col-md-4 control-label" for="part_quantity" >Quantity</label>
                            <div class="col-md-8">
                                <input type="number" id="input_part_quantity" class="form-control" min="1" value="1">
                            </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            <button id="btn-add-inventory" type="button" class="btn btn-sm btn-primary" data-loading-text="Adding...">
                                <i class="fa fa-plus"></i> Add
                            </button>
                            <span id="inv-add-msg" style="padding-left: 20px;"></span>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="form-group" id="new_part_form" style="display: none">
                        <span class="col-md-4">
                        </span>
                        <span class="col-md-8">
                            <hr align="center" color="#000000" size="2" width="70%">
                            <p><strong>Add new part</strong></p>
                        </span>
                        <label class="col-md-4 control-label" for="val_part_name">Part Name<span class="text-danger">*</span></label>
                        <div class="col-md-8">
                            <input type="text" id="val_part_name_v2" name="val_part_name_v2" class="form-control" placeholder="Enter Part Name" required="">
                        </div>
                        <label class="col-md-4 control-label" for="val_part_url_v2">Part URL<span class="text-danger">*</span></label>
                        <div class="col-md-8">
                            <input type="url" id="val_part_url_v2" name="val_part_url_v2" class="form-control" placeholder="http://example.com" required="">
                        </div>
                        <label class="col-md-4 control-label" for="val_part_url_v2">Quantity<span class="text-danger"></span></label>
                        <div class="col-md-8">
                            <input type="number" id="val_part_quant_v2" name="val_part_url_v2" class="form-control" min="1" value="1">
                        </div>
                        <span class="col-md-4"></span>
                        <span class="col-md-8">
                        <button id="btn_cancel_new_parts" type="button" class="btn btn-sm btn-warning">
                            <i class="fa fa-times"></i> Cancel
                        </button>
                        <button id="btn_submit_new_parts" type="button" class="btn btn-sm btn-primary" data-loading-text="Adding...">
                            <i class="fa fa-plus"></i> Add
                        </button>
                        <span id="new-inv-add-msg" style="padding-left: 20px;"></span>
                        </span>
                        <div class="clearfix">

                        </div>
                    </div>
                </div>
                    <hr />
                {% else %}
                <div class="block-title"><h4>Inventory</h4></div>
                {% endif %}
                <!--
                Available Table Classes:
                    'table'             - basic table
                    'table-bordered'    - table with full borders
                    'table-borderless'  - table with no borders
                    'table-striped'     - striped table
                    'table-condensed'   - table with smaller top and bottom cell padding
                    'table-hover'       - rows highlighted on mouse hover
                    'table-vcenter'     - middle align content vertically
                -->
                <table id="inventory-table" class="table table-bordered table-condensed table-vcenter">
                    <thead>
                        <tr>
                            <th>Tool</th>
                            <th class='text-center'>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for inventory in space.inventory_list %}
                        <tr>
                            <td><a href="#" data-part-makey-count="{{inventory.part.makeys.count}}" class="part-pop-trigger" data-part-name="{{inventory.part.name}}">{{inventory.part.name}}</a></td>
                            <td class='text-center'>{{inventory.quantity}}</td>
                        </tr>
                    {% endfor %}
                    {% for inventory in space.new_inventory_list %}
                        <tr>
                            <td><a href="#" data-part-makey-count="{{inventory.part.makeys.count}}" class="part-pop-trigger" data-part-name="{{inventory.part.name}}">{{inventory.part.name}}</a></td>
                            <td class='text-center'>{{inventory.quantity}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="col-xs-12">
            <p class='text-center'>No inventory</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}