{% extends "catalog/base.html" %}

{% load static from staticfiles %}

{% block title %} Makeystreet - What is a Makey? {% endblock %}

{% block extra_js %}
<script type="text/javascript">
    var cur_user_details = {{user_details|safe}};
    $(document).ready(function(){
        $("#sticker_leftcolumn").sticky({topSpacing:0});
    });
</script>
{% endblock %}

{% block content_top %}
{% endblock %}

{% block content_full %}
<div class="col-sm-9 col-md-9">
    <div class="row">
        <div class="col-xs-12">
            <div class="block">

                <div class="row">
                    <div class ="col-xs-12">
                        <h3 style="margin-top: 0px;">What is a Makey?</h3>
                        <p>Makeys = Modules</p>
                        <p>Makeys are hardware modules that you can use in your projects. </p>
                        {% comment %}
                            <p>A Makey is any hardware project which a <a href="{% url 'catalog:what_maker' %}">maker</a> designed, prototyped, and/or built either at home or at a <a href="{% url 'catalog:what_space' %}">Makerspace</a>.</p>
                        {% endcomment %}
                    </div>
                </div>

                <!-- <br/> -->
            </div>
        </div>
    </div>
</div>

<div class="col-sm-3 col-md-3" >
    <!-- <div id="sticker_leftcolumn">
        <div class="mini-layout-sidebar" style="width:250px;">
            <ul class="nav nav-list well">
                <li class="nav-header text_center">
                    <h3>All Listings</h3>
                </li>
                <hr/>
                <li>
                    <p>Found this job listing interesting? Why don't you check out other interesting ones?</p>
                </li>
                <a class="btn btn-lg btn-success btn-group-justified" href = "{% url 'catalog:all_listing' %}">
                    All Job Listings
                </a>
            </ul>
        </div>
    </div> -->
</div>
{% endblock %}